{% if  showSeznam %}
    <div id="ssp-124172" data-szn-ssp-ad='{"zoneId": 124172, "id": "ssp-124172", "width": 480, "height": 300}'
         class="my-3 ad-side-300w-300h ad-show-md ad-show-lg ad-show-xl"></div>

    {% include 'components/ads/ad_480x480.html.twig' with {'showSeznam': showSeznam, 'zoneId': 124187} %}
{% else %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <ins class="adsbygoogle"

         style="display:block; text-align:center;"

         data-ad-layout="in-article"

         data-ad-format="fluid"

         data-ad-client="ca-pub-9351958709261256"

         data-ad-slot="3565030989"></ins>

    <script>

        (adsbygoogle = window.adsbygoogle || []).push({});

    </script>
{% endif %}
