{% if showSeznam %}
    <div id="ssp-123997" data-szn-ssp-ad='{"zoneId": 123997, "id": "ssp-123997", "width": 480, "height": 480}'
         class="col-md-4 ad-show-xs ad-show-sm ad-show-lg ad-show-xl"></div>
{% endif %}
