{% if showSeznam %}
    <div id="ssp-124162" data-szn-ssp-ad='{"zoneId": 124162, "id": "ssp-124162", "width": 300, "height": 300}'
         class="my-3 ad-side-300w-300h ad-show-lg ad-show-xl"></div>
{% else %}
    <!-- iBILLBOARD Ad Server one2many Pozice: go.eu.bbelements.com city-dog.cz(26895) / HP + ostatní(1) / Square horní(1) / 15 Square horní 300x600(15)-->

    <!-- HowTo: Place this code into the html page where the ad should appear. -->

    <div id='bmone2n-26895.1.1.15'>

        <noscript>
            <div style='display:inline'><a
                        href='https://go.eu.bbelements.com/please/redirect/26895/1/1/15/'><img
                            src='https://go.eu.bbelements.com/please/showit/26895/1/1/15/?typkodu=img'
                            style='border-width:0' alt=''/></a></div>
        </noscript>

    </div>
{% endif %}
