{% if showSeznam %}
    <div id="ssp-124177" data-szn-ssp-ad='{"zoneId": 124177, "id": "ssp-124177", "width": 970, "height": 310}'
         class="before-footer-ad ad-show-xl"></div>
{% else %}
    <!-- iBILLBOARD Ad Server one2many Pozice: go.eu.bbelements.com city-dog.cz(26895) / HP + ostatní(1) / Leaderboard spodní(1) / 10 Leaderboard spodní 998x200(10)-->

    <!-- HowTo: Place this code into the html page where the ad should appear. -->

    <div id='bmone2n-26895.1.1.10'>

        <noscript>
            <div style='display:inline'><a
                        href='https://go.eu.bbelements.com/please/redirect/26895/1/1/10/'><img
                            src='https://go.eu.bbelements.com/please/showit/26895/1/1/10/?typkodu=img'
                            style='border-width:0' alt=''/></a></div>
        </noscript>

    </div>
{% endif %}
