<div class="container-fluid d-none d-lg-block">
    {% if showSeznam %}
        <div class="before-navbar-ad ad-show-lg ad-show-xl" id="ssp-124157"
             data-szn-ssp-ad='{"zoneId": 124157, "id": "ssp-124157", "width": 970, "height": 210}'></div>
    {% else %}
        <!-- iBILLBOARD Ad Server one2many Pozice: go.eu.bbelements.com city-dog.cz(26895) / HP + ostatní(1) / Leaderboard horní(1) / 09 Leaderboard horní 998x200(9)-->

        <!-- HowTo: Place this code into the html page where the ad should appear. -->

        <div id='bmone2n-26895.1.1.9'>

            <noscript>
                <div style='display:inline'><a href='https://go.eu.bbelements.com/please/redirect/26895/1/1/9/'><img
                                src='https://go.eu.bbelements.com/please/showit/26895/1/1/9/?typkodu=img'
                                style='border-width:0' alt=''/></a></div>
            </noscript>

        </div>
    {% endif %}
</div>

