/**
 * GoUrl Spelling Notifications, 2015 year
 *
 * @link https://gourl.io/php-spelling-notifications.html
 * @version 1.0
 * @license GPLv2
 */
#splwin {/*background-image:url(gourlspelling3.png);*/position:fixed;margin:auto;top:0;left:0;right: 0;bottom: 0;z-index:999;width:100%;background: rgba(0, 0, 0, 0.42);height: 100%;}
* html #splwin {background-image:none;}
#splwin #splwindow {position:fixed;background:#fff;overflow:auto;max-width:470px;width: 100%;height:auto;z-index:15000;padding:4px;border:1px solid #ccc;-o-box-shadow: 0 0 4px #999;-moz-box-shadow: 0 0 4px #999;-webkit-box-shadow: 0 0 4px #999;box-shadow: 0  0 4px #999;}
#splwin #splframe {border:0;overflow:auto;width:100%;height:395px;}
* html #splwin #splframe {margin-top:7px;}
#splwin #splframe {border:0;overflow:auto;width:100%;height:255px;}
