.map-container{display:none; margin:0px 0 0px; background:#eeeeee; width: 100%;}
.map-container div{width:100%; height:250px}


body.postLongPage {background-color: #ffffff;}
.postLongPage .headerWrapper {border-top:none; }
.postLongPage .headerWrapper .headerContainer {max-width:100%; }
.postLongPage .headerWrapper .menuBlock {display: none;}
.postLongPage .headerWrapper .searchBlock {display: none;}
.postLongPage .headerWrapper .logoBottomPart {display: none;}
.postLongPage .headerWrapper .header {border-bottom: none;height:auto; min-height: 50px;padding: 0;}
.postLongPage .headerWrapper .header:after {width:auto;height: auto;}
.postLongPage .headerWrapper .logoTopPart {height: auto;width:40px;top: 8px;left: 20px;}
.postLongPage .wrapper {padding-top: 0;}
.postLongPage .edit-url {position: fixed;z-index: 1000;padding: 5px;background: #fff;}
.postLongPage .postPage-seeAlso {_padding-top: 1px;}
.postLongPage .header-rowShare {position: fixed;top: 12px;right: 0;z-index: 200;}
@media (max-width:799px){
    .postLongPage .header-rowShare {position: absolute;}
}

body.tildaPage {background-color: #ffffff;margin: 0;}
.tildaPage .menuPanel {display:none;}
.tildaPage .headerWrapper {border-top:none; display:none;}
.tildaPage .headerWrapper .headerContainer {max-width:100%; }
.tildaPage .headerWrapper .menuBlock {display: none;}
.tildaPage .headerWrapper .searchBlock {display: none;}
.tildaPage .headerWrapper .logoBottomPart {display: none;}
.tildaPage .headerWrapper .header {border-bottom: none;height:auto; min-height: 50px;padding: 0;}
.tildaPage .headerWrapper .header:after {width:auto;height: auto;}
.tildaPage .headerWrapper .logoTopPart {height: auto;width:40px;top: 8px;left: 20px;}
.tildaPage .wrapper {padding-top: 0;height: 1px;background: transparent;padding:0; margin: 0 !important;}
.tildaPage .wrapper .he{display: none;}
.tildaPage .edit-url {position: fixed;z-index: 1000;padding: 5px;background: #fff;}
.tildaPage .postPage-seeAlso {padding-top: 1px;}
.tildaPage .header-rowShare {position: fixed;top: 12px;right: 0;z-index: 200;display: none;}
.tildaPage .footer {display: none;}
@media (max-width:799px){
    .tildaPage .header-rowShare {position: absolute;}
}


.vedyMain .wrapper{/*padding-top: 170px;*/}
.vedy-sideCol{float:left;width: 200px;padding-right: 10px;box-sizing: border-box;padding-left: 30px;/*padding-top:20px;*/padding-bottom:20px;}
.vedy-sideCol .separator{height: 1px;background-color: #eee;margin-bottom: 15px;}
.vedyFilter {font: 14px/23px 'circe-regular', Arial, Verdana, sans-serif; color:#000000; margin-bottom: 12px;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.vedyFilter.single {border:none;}
.vedyFilter.last {border:none;}
.vedyFilter i{font-size: 20px;width: 26px;cursor:pointer;vertical-align: text-bottom;margin-right: 7px;}
.vedyFilter .title{font: 13px/23px 'circe-bold', Arial, Verdana, sans-serif; font-weight: bold;vertical-align: top;margin-bottom: 5px; cursor:pointer;text-transform: uppercase;}
.vedyFilter .title label {cursor: pointer;width: 100%;}
/*.vedyFilter .title i{font-size: 20px;width: 26px;display: inline-block;cursor:pointer;vertical-align: text-bottom;}
*/
.vedyFilter .title:hover {color:#FFB9AD;}
.vedyFilter .date{width: 20px;background: url('../images/icons/icons2.png') no-repeat;display: inline-block;/* zoom: 1; */height: 21px;margin: 0 7px -1px 0;padding: 0;background-position: 0 -136px;}
.vedyFilter .option{color: #999;vertical-align: top;margin-bottom: 5px;cursor:pointer;}
.vedyFilter .option label{padding-left: 26px;text-indent: -26px;display: inline-block;}
.vedyFilter .option:hover {color:#fd593d;}
/*.vedyFilter .option i{font-size: 20px;width: 26px;cursor:pointer;vertical-align: text-bottom;margin-right: 3px;}
*/
.vedyFilter .option>span{width: 20px;background: url('../images/icons/icons2.png') no-repeat;display: inline-block;/* zoom: 1; */height: 21px;margin: -2px 7px 0px 0;padding: 0;background-position: 0 4px;}
.vedyFilter input[type=checkbox] {display: none;}
.vedyFilter input[type=checkbox]:checked + label {color:#fd593d;}
.vedyFilter.collapsible .title input[type=checkbox] + label {color:#fd593d;}
.vedyFilter.collapsible .title input[type=checkbox]:checked + label {color:#000000;}
.vedyFilter .datepicker .ui-datepicker-inline{left: 0px;top:5px;}
.vedyFilter .ui-datepicker:before {left:60px;}
.vedyFilter .hasDatepicker {margin-top: 7px; border:1px solid #E3E3E3; text-align: right;padding:3px;width:100%;}

.vedy-contentCol{/* float: left; */width: auto;margin-left: 200px;/*margin-right: -15px;*//*padding-top:20px;*/}
.vedyMain-item{width: 25%; /* margin: 0 15px 20px 0; */ float:left; vertical-align:top; display:inline-block; *display:inline; zoom:1; font-size:14px; padding-left: 15px;box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
.vedyMain-itemWrapper{padding: 15px;border: 1px solid darkgray;}
.vedyMain-item .vedyMain-itemImg{position:relative; margin-bottom: 10px;}
.vedyMain-item img{width:100%; display:block;}
.vedyMain-item .imageLink{position: absolute;top:0;bottom: 0;left: 0;right: 0;}
.vedyMain-itemInfo{padding-bottom: 20px;/*height:170px;*/ /* margin-top:-2px; */ letter-spacing:0.02em;}
.vedyMain-item h3{margin-top:18px; font:16px/21px 'circe-extra-bold', Arial, Verdana, sans-serif;}
.vedyMain-item .vedyMain-itemDate{margin:10px 0 0;}
.vedyMain-item .vedyMain-itemDate a, .vedyMain-item .vedyMain-itemDate a:visited{font:14px/24px 'circe-bold', Arial, Verdana, sans-serif;}
.vedyMain-item .vedyMain-itemDate span:last-child{padding-left:10px; margin-left:10px; display:inline-block; *display:inline; zoom:1; border-left:1px solid;}
.vedyMain-item p a, .vedyMain-item p a:visited{font:14px/23px 'circe-regular', Arial, Verdana, sans-serif; color:#000000;}
.vedyMain-itemSpace{width:1.25%; display:inline-block; *display:inline; zoom:1;}
.vedyMain-item .type{bottom:0px; min-width:77px; padding: 0px 15px; display:block; position:absolute; font:12px/35px 'circe-regular', Arial, Verdana, sans-serif; text-align:center; color:#ffffff; background-color:#000000;cursor:pointer;}
.vedyPage-container .labels,
.vedyMain-item .labels{top:0;right: 0;padding: 10px;position: absolute;font-size: 30px;text-align: center;}
.vedyPage-container .labels i,
.vedyMain-item .labels i{background-color: #fff;padding: 1px 0 0px 1px;margin-bottom: 10px;border-radius: 50%;width: 33px;height: 32px;text-align: center;display: block;}
.vedyMain-item .statistics{padding:11px 8px 9px; margin:0; border-top:1px solid #ededed; border-bottom:1px solid #EDEDED;}
.vedyMain-item.big{width: 50%; /*margin: 0 0 20px 0;*/ /* border: 1px solid darkgray; */ /* padding: 15px; */ /* padding-right: 15px; */}
.vedyMain-item.big .vedyMain-itemInfoFooter{width:100%; position:absolute; bottom:2px; left:0;}
.vedyMain-item.big .statistics{padding-left:0; padding-right:0; /* margin:0 15px; */ border: none; /* text-align:center; */padding-bottom: 0px;}
.vedyMain-item.big .vedyMain-itemInfo{height:75px; margin-top:-3px;}
.vedyMain-item.big .vedyMain-itemDate{margin:6px 0 0; float:right;}
.vedyMain-item.article {padding-right: 0px;padding-top: 0px; border:none;}
.vedyMain-itemBigContent{height:100%; position:relative; padding:15px 15px 5px; border:2px solid;}


.vedyMain .dividerDesktop,
.vedyMain .dividerTablet,
.vedyMain .dividerTabletSmall {margin:10px 0 26px 15px;display: none;}
.vedyArticlesPage .dividerMobile,
.vedyMain .dividerMobile {/*border: none;*/margin-bottom: 20px;display:none;}
.vedyMain .dividerTabletSmall {display:none;border-bottom: 1px solid #ededed;clear: both;}

@media screen and (max-width: 1180px){
    .vedyMain-item{width: 33.333%;}
    .vedyMain .vedyMain-item.big{width: 66.666%;text-align: left;}
}
@media only screen and (max-width: 1023px){
    .vedy-sideCol{padding-left: 0px;}
    .vedyMain-item{width: 33.333%;}
    .vedyMain .vedyMain-item.big{width: 66.666%;}
}
@media screen and (max-width: 799px){
    .vedyMain-item{width: 50%;}
    .vedyMain .vedyMain-item.big{width: 100%;}
    .vedyMain .dividerTablet{display:none;}
    ._vedyMain .dividerTabletSmall {display:block;}
}
@media only screen and (max-width: 640px){
    .vedy-sideCol{padding-left: 0px;}
    .vedyMain-item.big{width: 100%;}
    .vedyArticlesPage .vedyMain-item.article {padding-right: 0px;}
    .vedyMain-item{width: 100%;padding-left: 0px;}
    .vedyMain-itemInfo {height: auto;padding-bottom: 40px;}
    .vedyArticlesPage .dividerTablet,
    .vedyMain .dividerTabletSmall {display:none;}
}
@media only screen and (max-width: 480px){
    .vedy-sideCol{padding-left: 0px; padding-right: 0px; padding-top: 0px; width: 100%;}
    .vedy-contentCol{margin-left:0px;}
    .vedyMain .vedyMain-item.big{padding-right: 5px;}
    .vedyFilter.last{margin-bottom: 0px;}
    .vedyFilter{float:left; width:100%; border: none;padding: 0px 5px;font-size: 13px;}
    .vedyFilter .title {margin-bottom:0px;line-height: 13px;text-transform: none;border: 1px solid #eee;}
    .vedyFilter.mob-hide-icon .title i{display: none;}
    .vedyFilter .title label {padding: 13px;display: inline-block;}
    .vedyFilter .option {margin-bottom: 10px;margin-top: 10px;}
    .vedyFilter .option i {display: none;}
    .vedyFilter .option label {text-indent: 0;padding-left: 35px;}
    .vedyFilter.resetFilter .title {border:none;}
    .vedyFilter.singles {padding: 0px;}
    .vedyFilter .single-wrapper {float:left;padding: 0 5px;}
    .mob-w-50 {width: 50%;}
    .mob-hide {display: none;}
    .vedyMain-item{padding-left: 5px;padding-right: 5px;}
    .ui-datepicker{padding: 15px 10px 10px;margin-top: 10px;}
    .ui-datepicker:before{left:80px;}
    .ui-datepicker table {font-size: 0.8em;}
    .ui-datepicker-calendar {width: 260px;}
    .ui-datepicker th {padding:8px 0 6px;}
    .ui-datepicker td span, .ui-datepicker td a{width:auto;}
    .toLeft {float:left;}
}




body.vedyPage .contentCol{margin-top:21px;}
.vedyPage-container{/*margin-top:18px;*/ position:relative;padding-bottom: 10px; overflow: hidden;margin-bottom: 20px;}
.vedyPage-header{position: relative;overflow: hidden;background-color: #eee;}
.vedyPage-header-wrapper{max-width: 930px;margin: 40px auto;position: relative;overflow: hidden;}
.vedyPage-gallery{border-bottom:0; margin: 0 320px 0px 0; position:relative; /* padding-bottom:45px; */ height: 515px; padding-right: 30px;overflow: hidden;}
.vedyPage-header .type {bottom: 0px;min-width: 77px;padding: 0px 15px;display: block;position: absolute;font: 12px/35px 'circe-regular', Arial, Verdana, sans-serif;text-align: center;color: #ffffff;background-color: #000000;cursor:default;}
.vedyPage-eventInfo{width: 320px; position: absolute; right:0; top:0; font: 15px 'circe-regular', Arial, sans-serif;line-height: 1.4em; color:#7d7d7d;}
.vedyPage-eventInfo a{color:#7d7d7d;}
.vedyPage-eventInfoWrapper{margin-left: 40px;height: 515px;}
.vedyPage-eventInfo h1{margin-bottom: 20px; color: #000; letter-spacing: 0.2px; line-height: 31px; font-size: 27px;}
.vedyPage-eventInfo h3{padding-bottom: 1em; letter-spacing: 1px; border-bottom: 1px solid #ccc; margin-bottom: 1em;line-height: 26px;}
.vedyPage-eventInfo .organizer{margin-bottom: 0.4em; color: #000;}
.vedyPage-eventInfo p,
.vedyPage-eventInfo .place {margin-bottom: 10px;line-height: 21px;}
.vedyPage-eventInfo .place i{font-size: 20px;}
.vedyPage-eventInfo .place a{cursor: pointer; }
.vedyPage-eventInfo .place .address{text-decoration: underline;}
.vedyPage-eventInfo p .label{color:#000;letter-spacing: 0.06em;font-family: 'circe-bold', Arial, sans-serif;}

.vedyPage-eventInfoFooter {position: absolute;bottom: 0;}
.vedyPage-rowShare{ height:auto; margin: 0 0 5px;;}
.vedyPage-rowShare .shareItem {width: auto;background: none;margin: 0 25px 17px 0px;}
.vedyPage-eventVisit *{/* position:absolute; */ /* bottom: 0; */ text-align:center; line-height: 35px; letter-spacing:0.08em; cursor:pointer;font-family: 'circe-bold', Arial, sans-serif;display: inline-block;}
.vedyPage-eventVisit input[type="button"]{width: 120px; height: 40px; border:2px solid; margin-top: 15px; /* display:block; */ background-color: transparent;-webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; behavior:url('PIE.htc'); font-size: 15px;}
.vedyPage-eventVisit:hover input[type="button"]{color:#eeeeee;}

.vedyPage-eventVisit *{color:darkblue;}
.vedyPage-eventVisit input[type="button"]{border-color:darkblue;}
.vedyPage-eventVisit:hover input[type="button"]{background-color:darkblue;}
.vedyPage-eventVisit .igo{/* margin-left: 135px; */margin-left: 15px;}

.vedyPage-blockShare{width:100px; margin:8px 0 0 -8px; position:absolute; left:0;}
.vedyPage-Description{margin: 50px 20% 0 150px; font: 17px/26px 'pt-serif-regular', Arial, Verdana, sans-serif;}
.vedyPage-Description strong{font: 19px/26px 'circe-bold', Arial, Verdana, sans-serif;}
.vedyPage-Description h3{margin: 67px auto 20px; font:24px 'circe-extra-bold', Arial, Verdana, sans-serif;color: #000000;display: block;}
.vedyPage-Description p{margin: 0 auto;margin-bottom: 20px;}
.vedyPage-Description a {color:#fd593d;text-decoration: none;}
.vedyPage-Description a:hover {text-decoration: underline;}
.vedyPage-Description ol,
.vedyPage-Description ul {list-style: initial; margin-left: 3em; margin-bottom: 20px;}
.vedyPage-Description ol {list-style-type: decimal;}

.vedyPage-tag {color:#999; background-color: #fff;display: inline-block;padding: 3px 16px;-webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px; behavior:url('PIE.htc');border: 1px solid #999;margin-right: 10px;margin-bottom: 10px;font-family: 'pt-sans-regular', Arial, sans-serif;}
.vedyPage-tag:hover{color:#fff;background-color: #999;cursor: pointer;}

.vedyPage-seeAlso{border-bottom:2px solid #000000;}
body.vedyPage .comments-title{margin:0; font:14px 'circe-extra-bold', Arial, Verdana, sans-serif;}
.vedyPage-seeAlso .gallery .statistics{width:17.5%; position:absolute; bottom:0; border-bottom:none;}
.vedyPage-mobileBreak{display:none;}





@media screen and (max-width: 799px){
    .vedyPage-container{/*margin-top:14px;*/}
    .vedyPage-header-wrapper{margin: 0px auto;}
    .vedyPage-gallery{margin: 5%;padding: 0px;height: auto;}
    .vedyPage-gallery img{width: 100%;}
    .vedyPage-eventInfo{width: auto;position: relative;padding: 0 7% 20px;top: auto;right: auto;}
    .vedyPage-eventInfoWrapper{margin: 0px 0px 20px; height: auto;}
    .vedyPage-eventInfoFooter{position:relative;}
    .vedyPage-Description{margin:0px; padding: 25px 25px 40px;}
    .vedyPage-blockShare {float: none;width: 100%;position: absolute;bottom: 0px;left:20px;}
}




.vedyArticlesPage .vedyMain-item.article{padding-left: 0; padding-right: 15px;}
.vedyArticlesPage .contentCol{margin-top: 17px; padding-right: 266px;}
.vedyArticlesPage .sideCol {display: block;}
.vedyArticlesPage .vedyMain-itemWrapper {padding: 0; border: none;}
.vedyArticlesPage .vedyMain-item p a {font: 16px/24px 'pt-serif-regular', 'Times New Roman', Times, serif}
@media only screen and (max-width: 799px){
    .vedyArticlesPage .sideCol {display: none;}
    .vedyArticlesPage .contentCol {padding-right: 0;}
}
@media only screen and (max-width: 640px){
    .vedyArticlesPage .dividerTablet {display:none;}
}
@media only screen and (max-width: 599px){
    .vedyArticlesPage .vedyMain-item.article {padding-right: 0px;}
}


.gradient {max-width: 270px;max-height: 270px;width: 100%;height: 100%;position: absolute;right: 0;top: 0;}

.lecture .vedyMain-itemDate a,
.lecture .vedyMain-itemDate a:visited,
.lecture .vedyPage-eventInfo h3,
.lecture .vedyPage-eventVisit *,
.lecture .labels {color:#00baff;}
.lecture .vedyPage-eventVisit:hover input[type="button"],
.lecture .type {background-color:#00baff;}
.lecture .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.lecture .vedyMain-itemBigContent{border-color:#00baff;}
.lecture .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(0,186,255,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(0,186,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(0,186,255,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(0,186,255,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(0,186,255,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(0,186,255,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00baff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.meetup .vedyMain-itemDate a,
.meetup .vedyMain-itemDate a:visited,
.meetup .vedyPage-eventInfo h3,
.meetup .vedyPage-eventVisit *,
.meetup .labels {color:#6d4bc4;}
.meetup .vedyPage-eventVisit:hover input[type="button"],
.meetup .type {background-color:#6d4bc4;}
.meetup .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.meetup .vedyMain-itemBigContent{border-color:#6d4bc4;}
.meetup .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(109,75,196,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(109,75,196,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(109,75,196,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(109,75,196,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(109,75,196,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(109,75,196,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#6d4bc4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.master-class .vedyMain-itemDate a,
.master-class .vedyMain-itemDate a:visited,
.master-class .vedyPage-eventInfo h3,
.master-class .vedyPage-eventVisit *,
.master-class .labels {color:#10c078;}
.master-class .vedyPage-eventVisit:hover input[type="button"],
.master-class .type {background-color:#10c078;}
.master-class .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.master-class .vedyMain-itemBigContent{border-color:#10c078;}
.master-class .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(16,192,120,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(16,192,120,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(16,192,120,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(16,192,120,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(16,192,120,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(16,192,120,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#10c078',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}


.training .vedyMain-itemDate a,
.training .vedyMain-itemDate a:visited,
.training .vedyPage-eventInfo h3,
.training .vedyPage-eventVisit *,
.training .labels {color:#d8bc00;}
.training .vedyPage-eventVisit:hover input[type="button"],
.training .type {background-color:#d8bc00;}
.training .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.training .vedyMain-itemBigContent{border-color:#d8bc00;}
.training .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(216,188,0, 1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(216,188,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(216,188,0,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(216,188,0,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(216,188,0,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(216,188,0,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d8bc00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.contest .vedyMain-itemDate a,
.contest .vedyMain-itemDate a:visited,
.contest .vedyPage-eventInfo h3,
.contest .vedyPage-eventVisit *,
.contest .labels {color:#fd593d;}
.contest .vedyPage-eventVisit:hover input[type="button"],
.contest .type {background-color:#fd593d;}
.contest .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.contest .vedyMain-itemBigContent{border-color:#fd593d;}
.contest .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(253,89,61,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(253,89,61,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(253,89,61,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(253,89,61,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(253,89,61,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(253,89,61,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#fd593d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.discussion .vedyMain-itemDate a,
.discussion .vedyMain-itemDate a:visited,
.discussion .vedyPage-eventInfo h3,
.discussion .vedyPage-eventVisit *,
.discussion .labels {color:#20cab5;}
.discussion .vedyPage-eventVisit:hover input[type="button"],
.discussion .type {background-color:#20cab5;}
.discussion .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.discussion .vedyMain-itemBigContent{border-color:#20cab5;}
.discussion .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(32,202,181,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(32,202,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(32,202,181,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(32,202,181,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(32,202,181,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(32,202,181,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#20cab5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.workshop .vedyMain-itemDate a,
.workshop .vedyMain-itemDate a:visited,
.workshop .vedyPage-eventInfo h3,
.workshop .vedyPage-eventVisit *,
.workshop .labels {color:#ed9c00;}
.workshop .vedyPage-eventVisit:hover input[type="button"],
.workshop .type {background-color:#ed9c00;}
.workshop .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.workshop .vedyMain-itemBigContent{border-color:#ed9c00;}
.workshop .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(237,156,0,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(237,156,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(237,156,0,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(237,156,0,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(237,156,0,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(237,156,0,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ed9c00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.presentation .vedyMain-itemDate a,
.presentation .vedyMain-itemDate a:visited,
.presentation .vedyPage-eventInfo h3,
.presentation .vedyPage-eventVisit *,
.presentation .labels {color:#0b5cd6;}
.presentation .vedyPage-eventVisit:hover input[type="button"],
.presentation .type {background-color:#0b5cd6;}
.presentation .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.presentation .vedyMain-itemBigContent{border-color:#0b5cd6;}
.presentation .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(11,92,214,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(11,92,214,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(11,92,214,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(11,92,214,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(11,92,214,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(11,92,214,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#0b5cd6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}



.conference .vedyMain-itemDate a,
.conference .vedyMain-itemDate a:visited,
.conference .vedyPage-eventInfo h3,
.conference .vedyPage-eventVisit *,
.conference .labels {color:#b245d2;}
.conference .vedyPage-eventVisit:hover input[type="button"],
.conference .type {background-color:#b245d2;}
.conference .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.conference .vedyMain-itemBigContent{border-color:#b245d2;}
.conference .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(178,69,210,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(178,69,210,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(178,69,210,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(178,69,210,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(178,69,210,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(178,69,210,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#b245d2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}

.course .vedyMain-itemDate a,
.course .vedyMain-itemDate a:visited,
.course .vedyPage-eventInfo h3,
.course .vedyPage-eventVisit *,
.course .labels {color:#DA0F79;}
.course .vedyPage-eventVisit:hover input[type="button"],
.course .type {background-color:#DA0F79;}
.course .vedyPage-eventVisit input[type="button"],
.vedyMain-item.big.course .vedyMain-itemBigContent{border-color:#DA0F79;}
.course .gradient {
background: -moz-linear-gradient(55deg,  rgba(255,255,255,0) 50%, rgba(218,15,121,1) 85%); /* FF3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(30%,rgba(255,255,255,0)), color-stop(85%,rgba(218,15,121,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(55deg,  rgba(255,255,255,0) 50px,rgba(218,15,121,1) 85px); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(218,15,121,1) 85%); /* Opera 11.10+ */
background: -ms-linear-gradient(55deg,  rgba(255,255,255,0) 50%,rgba(218,15,121,1) 85%); /* IE10+ */
background: linear-gradient(55deg, rgba(255,255,255,0) 50%,rgba(218,15,121,1) 85%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#DA0F79',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
opacity: 0.5;filter: alpha(opacity=60);
}

@font-face {
	font-family: 'citydog';
	src:url('../fonts/citydog.eot?femla');
	src:url('../fonts/citydog.eot?#iefixfemla') format('embedded-opentype'),
		url('../fonts/citydog.woff?femla') format('woff'),
		url('../fonts/citydog.ttf?femla') format('truetype'),
		url('../fonts/citydog.svg?femla#citydog') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'citydog';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
        vertical-align: text-top;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.icon-new:before {content: "\e60b";}
.icon-free:before {content: "\e60c";}
.icon-calendar-31:before {content: "\e600";}
.icon-not-selected:before {content: "\e609";}
.icon-selected:before {content: "\e60a";}
.icon-free-old:before {content: "\e601";}
.icon-citydog-logo:before {content: "\e605";}
.icon-vkontakte:before {content: "\e608";}
.icon-facebook:before {content: "\e602";}
.icon-calendar:before {content: "\e603";}
.icon-deadline:before {content: "\e604";}
.icon-discount:before {content: "\e606";}
.icon-location:before {content: "\e607";}
.icon-calendar2:before {content: "\e953";}
.icon-twitter:before {content: "\ea91";}


.shareItem, .shareItem span:first-child{ background:url('../images/icons/social.png') no-repeat right top; display:inline-block; *display:inline; zoom:1;}
.shareItem:hover{ background-position:right -24px;}
.shareItem span:last-child{ width:48px; float:right; font:12px/25px 'circe-regular', Arial, Verdana, sans-serif; color:#a1a1a1; text-align:center;}
.shareItem{ width:73px; height:24px; float:left; margin:0 10px 17px 9px; cursor:pointer;}
.shareItem span.facebook{ width:9px; height:17px; margin:4px 0 0 2px; background-position:0 -48px;}
.shareItem span.vkontakte{ width:10px; height:12px; margin:6px 0 0; background-position:0 -65px;}
.shareItem span.twitter{ width:13px; height:11px; margin:7px 0 0; background-position:-18px -48px;}
.shareItem span.google{ width:15px; height:15px; margin:5px 0 0; background-position:-20px -59px;}
.shareItem:hover .facebook{ background-position:-9px -48px;}
.shareItem:hover .vkontakte{ background-position:-10px -65px;}
.shareItem:hover .twitter{ background-position:-31px -48px;}
.shareItem:hover .google{ background-position:-35px -59px;}
.shareItem:hover span:last-child{ color:#000000;}

.footer .footerMenu li {height: 35px;}













.postPage-eventsBlock{background: #f2f2f4;padding: 0 30px;width: auto;margin: 0 -30px;float:none;}
.postPage-eventsBlockTitle {padding: 20px 0 18px 5px;font: 10px 'circe-bold', Arial, Verdana, sans-serif;color: #000000;letter-spacing: 0.1em;}
.postPage-eventsBlock .afishaMain-item {padding: 0;width:19%;margin-right: 1.25%;}
.postPage-eventsBlock .afishaMain-item:last-child {margin-right: 0;}
.postPage-eventsBlock .afishaMain-itemInner {background: #ffffff;padding: 10px;}
.postPage-eventsBlock .afishaMain-itemInfo {height: 130px;}
.postPage-eventsBlock .afishaMain-itemInfo .place {font-family: 'circe-regular', Arial, Verdana, sans-serif;font-size: 12px;line-height: 15px;padding-bottom: 3px;}
.gallery.eventsBlock {padding-bottom: 20px;}
.gallery.eventsBlock .gallery-next{ width:2.5%; height:160px; right:-3%;background: transparent;}
.gallery.eventsBlock .gallery-previous{ width:2.5%; height:160px; left:-3%;background: transparent;}
.gallery.eventsBlock .gallery-previous,
.gallery.eventsBlock .gallery-next{ height:50%; opacity:1; filter:alpha(opacity=100);}
.gallery.eventsBlock .gallery-previous div{ width:16px; height:29px; margin:-15px 0 0 -16px; background-position:0 -67px;}
.gallery.eventsBlock .gallery-next div{ width:16px; height:29px; top:50%; margin:-15px 0 0; background-position:-16px -67px}
.gallery.eventsBlock .gallery-previous:hover div{ background-position:0 -111px;}
.gallery.eventsBlock .gallery-next:hover div{ background-position:-16px -111px;}
.gallery.eventsBlock .afishaMain-item .tag {width: 77px;display: block;position: absolute;font: 12px/35px 'circe-regular', Arial, Verdana, sans-serif;text-align: center;color: #ffffff;background-color: #e1040f;bottom:0;}

.eventsBlock-item{ width:19%;}
.eventsBlock-itemImg{ padding:0; width:100%;}
.eventsBlock-itemInfo{ padding:0;}
.eventsBlock-itemInfo .place{ padding:0;}
.eventsBlock-itemInfo .date{ padding:0;}
.eventsBlock-itemInfoTitle {font: 18px/22px 'circe-bold', Arial, Verdana, sans-serif;}

@media screen and (max-width: 1023px) {
.postPage-eventsBlock .afishaMain-item {width: 23.8%;margin: 0 1.6% 0 0;}
}

@media screen and (max-width: 799px) {
.postPage-eventsBlock .afishaMain-item {width: 32.2%;margin: 0 1.7% 0 0;}
}

@media screen and (max-width: 480px) {
.gallery.eventsBlock .gallery-next div {margin: -15px 0 0 -7px}
.gallery.eventsBlock .gallery-previous div {margin: -15px 0 0 -11px;}
.gallery.eventsBlock .afishaMain-itemInfo{ height:155px;}
.postPage-eventsBlock {padding: 0 13px;margin: 0px -13px;}
.gallery.eventsBlock .gallery-next{ width:2.5%; height:160px; right:-1%;background: transparent;}
.gallery.eventsBlock .gallery-previous{ width:2.5%; height:160px; left:-1%;background: transparent;}
}



.zozhPage.allPostsPage .contentCol {margin-right: 266px;}
.zozhPage.allPostsPage .sideCol {float: right;width: 266px;margin: 0 0 0 -266px;position: relative;display: block !important;}
@media (max-width: 799px) {
.zozhPage.allPostsPage .contentCol {float: none;padding-right: 0;}
.zozhPage.allPostsPage .contentCol {margin-right: 0;padding-right: 10px;}
.zozhPage.allPostsPage .sideCol {display: none !important;}
}
@media (max-width: 597px) {
.zozhPage.allPostsPage .contentCol {margin-right: 0;}
.zozhPage.allPostsPage .sideCol {display: none !important;}
}

.zozhPage.allPostsPage .wrapper {display: block;}
.zozhPage.allPostsPage .contentCol .contentTitle {display: none;}

.zozhPage .article {width: 33.3333%;}
.zozhPage .articleBig {width: 66.6667%;}
.zozhPage .dividerWideDesktop {display:block;}
.zozhPage .dividerDesktop {display:none;}
.zozhPage .dividerTablet {display:none;}

.zozhWidget {float: left;}
.zozhWidget h3{ text-transform:uppercase; display:block; text-align:center; border-bottom:#000000 2px solid; padding-bottom:6px; font-size:15px; letter-spacing:0.06em;}
.zozhWidget .zozhWidget-item{ padding:13px 6px 13px 9px; border-bottom:#ededed 1px solid;}
.zozhWidget .zozhWidget-item:last-child{ border-bottom:none;}
.zozhWidget .zozhWidget-item img{ border:#d9d9d9 1px solid; padding:4px; -webkit-border-radius:50%; border-radius:50%; float:left; margin-right:12px;}
.zozhWidget .zozhWidget-item .desc{ padding-top:2px; margin-left: 76px;}
.zozhWidget .zozhWidget-item .desc h6{ text-transform:uppercase; padding-bottom:6px;}
.zozhWidget .zozhWidget-item .desc p{ font-family:'circe-regular', Arial, Verdana, sans-serif; font-size:12px; line-height:15px; padding-bottom:3px; /*margin-left:82px;*/}
.zozhWidget .zozhWidget-item .desc span{ display:block; color:#808080; padding-top:4px; }
.zozhWidget .moreEvents{ border-top:#000000 2px solid; display:block; font:12px 'circe-regular', Arial, Verdana, sans-serif; color:#fd593d; text-align:center; padding:11px 0 9px 0;}
.zozhPage .zozhWidget.stuck {position: fixed;top:88px; margin-top: 20px;}
.zozhPage .zozhWidget.stuck-bottom {position: absolute;top:auto;}
.zozhPage .contentCol .zozhWidget {display: none;}
.zozhPage .sideCol .zozhWidget {max-width: 246px;}
.zozhPostPage .postPage-seeAlsoTitle {border: none;}
.zozhPage.allPostsPage .contentCol {margin-right: 266px;float: left;width: auto;}
._zozhPage.allPostsPage .sideCol {flex:unset !important;}

@media screen and (max-width: 1180px) {
.zozhPage .dividerWideDesktop {display:none;}
.zozhPage .dividerDesktop {display:none;}
.zozhPage .dividerMobile {display:none;}
.zozhPage .article {width: 50%;}
.zozhPage .articleBig {width: 50%;}
}

@media screen and (max-width: 1023px) {
.zozhPage.allPostsPage .wrapper {padding-right: 0px;}
}

@media screen and (max-width: 799px) {
._zozhPage .dividerTablet {display:block; margin-right: 15px;}
._zozhPage .dividerDesktop {display:none;}
.zozhPage .articleBig {width: 50%;}
.zozhPage .article {width: 50%;}
.zozhPage .contentCol .zozhWidget {display: block;}
.zozhPage .zozhWidget {display: block; width: 50%; padding-right: 20px;}
.zozhPage.allPostsPage .contentCol {margin-right:0;}
}

@media screen and (max-width: 597px) {
._zozhPage .dividerTablet {display:none;}
.zozhPage.allPostsPage .wrapper {padding-right: 13px;}
.zozhPage .zozhWidget {width: 100%; padding-right: 0px;border-bottom: 1px solid #ededed;margin-bottom: 23px;padding-bottom: 18px;}
.zozhPage .article {width: 100%;}
}



.mtsMusicPage.allPostsPage .wrapper {padding-right: 13px;}
.mtsMusicPage.allPostsPage .contentCol .contentTitle {display: none;}
.mtsMusicPage.allPostsPage .sideCol {display: block;}
.mtsMusicPage.allPostsPage .contentCol {margin-right: 266px;}

.mtsMusicPage .article {width: 33.3333%;}
.mtsMusicPage .articleBig {width: 66.6667%;}
.mtsMusicPage .dividerWideDesktop {display:block;}
.mtsMusicPage .dividerDesktop {display:none;}
.mtsMusicPage .dividerTablet {display:none;}

.mtsMusicWidget {float: left;}
.mtsMusicWidget h3{ text-transform:uppercase; display:block; text-align:center; border-bottom:#000000 2px solid; padding-bottom:6px; font-size:15px; letter-spacing:0.06em;}
.mtsMusicWidget .mtsMusicWidget-item{ padding:13px 6px 13px 9px; border-bottom:#ededed 1px solid;}
.mtsMusicWidget .mtsMusicWidget-item:last-child{ border-bottom:none;}
.mtsMusicWidget .mtsMusicWidget-item img{ border:#d9d9d9 1px solid; padding:4px; -webkit-border-radius:50%; border-radius:50%; float:left; margin-right:12px;}
.mtsMusicWidget .mtsMusicWidget-item .desc{ padding-top:2px; margin-left: 76px;}
.mtsMusicWidget .mtsMusicWidget-item .desc h6{ text-transform:uppercase; padding-bottom:6px;}
.mtsMusicWidget .mtsMusicWidget-item .desc p{ font-family:'circe-regular', Arial, Verdana, sans-serif; font-size:12px; line-height:15px; padding-bottom:3px; /*margin-left:82px;*/}
.mtsMusicWidget .mtsMusicWidget-item .desc span{ display:block; color:#808080; padding-top:4px; }
.mtsMusicWidget .moreEvents{ border-top:#000000 2px solid; display:block; font:12px 'circe-regular', Arial, Verdana, sans-serif; color:#fd593d; text-align:center; padding:11px 0 9px 0;}
.mtsMusicPage .mtsMusicWidget.stuck {position: fixed;top:88px; margin-top: 20px;}
.mtsMusicPage .mtsMusicWidget.stuck-bottom {position: absolute;top:auto;}
.mtsMusicPage .contentCol .mtsMusicWidget {display: none;}
.mtsMusicPage .sideCol .mtsMusicWidget {max-width: 246px;}
.playPostPage .postPage-seeAlsoTitle {border: none;}
.mtsMusicPage.allPostsPage .contentCol {margin-right: 266px;float: left;width: auto;}
._mtsMusicPage.allPostsPage .sideCol {flex:unset !important;}
._mtsMusicPage.allPostsPage .wrapper {display: block !important;}

@media screen and (max-width: 1180px) {
.mtsMusicPage .dividerWideDesktop {display:none;}
.mtsMusicPage .dividerDesktop {display:block;}
.mtsMusicPage .article {width: 50%;}
.mtsMusicPage .articleBig {width: 50%;}
}

@media screen and (max-width: 1023px) {
.mtsMusicPage.allPostsPage .wrapper {padding-right: 0px;}
}

@media screen and (max-width: 799px) {
.mtsMusicPage .dividerTablet {display:block; margin-right: 15px;}
.mtsMusicPage .dividerDesktop {display:none;}
.mtsMusicPage .mtsMusicWidget {display: block; width: 50%; padding-right: 20px;}
.mtsMusicPage.allPostsPage .contentCol {margin-right: 0;}
.mtsMusicPage.allPostsPage .sideCol {display:none;}
}

@media screen and (max-width: 597px) {
.mtsMusicPage .dividerTablet {display:none;}
.mtsMusicPage .article {width: 100%;}
.mtsMusicPage .articleBig {width: 100%;}
.mtsMusicPage.allPostsPage .wrapper {padding-right: 13px;}
.mtsMusicPage .mtsMusicWidget {width: 100%; padding-right: 0px;border-bottom: 1px solid #ededed;margin-bottom: 23px;padding-bottom: 18px;}
}



.quiz .question h3 {margin-top: 0;}


.hotdogPage .hotdogPage-descDescription p {color:#2f2f2f; font:17px/26px 'pt-serif-regular', 'Times New Roman', Times, serif;margin-bottom: 20px;padding-bottom:0;}
.hotdogPage .hotdogPage-descDescription b,
.hotdogPage .hotdogPage-descDescription strong {font:19px/26px 'circe-bold', Arial, Helvetica;}
.hotdogPage .hotdogPage-descDescription a {color:#fd593d;text-decoration: none;font:17px/26px 'pt-serif-regular', 'Times New Roman', Times, serif;}
.hotdogPage .hotdogPage-descDescription a:hover {text-decoration: underline;}
.hotdogPage .hotdogPage-descTitle{margin: 29px 0 54px; font: 26px/1.23em 'circe-bold', Arial, Verdana, sans-serif;}
.hotdogPage .hotdogMain-itemImg {padding-right: 0px;}
.hotdogPage .padarunakPage-infoSite a,
.hotdogPage .padarunakPage-infoSite a:visited{color: #fd593d;}
.hotdogPage .padarunakPage-infoMap {margin: 3px 0 15px;}
.hotdogPage .padarunakPage-infoMap,
.hotdogPage .padarunakPage-infoMap a,
.hotdogPage .padarunakPage-infoMap a:visited{color: #fd593d;font: 15px/23px 'pt-sans-regular', Arial, Verdana, sans-serif;}
.hotdogPage .padarunakPage-infoMap span {width: 15px;height: 20px;margin-right: 9px;display: inline-block;
zoom: 1;background: url('../images/icons/icons.png') no-repeat -79px 0px;}

.frontPage .hotdog-item a.rubric .icon {background-position: -247px -26px;width: 9px;height: 12px;margin-right: 7px;vertical-align: text-top;}
.frontPage .hotdog-item a.rubric:hover .icon {background-position: -256px -26px;}
.frontPage .hotdog-item .headingArticle a.rubric .icon {margin-bottom: -2px;background-position: -265px -26px;}
.frontPage .hotdog-item .headingArticle a.rubric:hover .icon {background-position: -256px -26px;}
.frontPage .hotdog-item .headingArticle a.rubric {padding-bottom: 3px;}



/* важно, чтобы .comments-item НЕ был position:relative */
.jumptarget:before { content:""; display:block;height:123px; margin:-123px 0 0;}/*113+10*/
.scrollOn .jumptarget:before { height:99px; margin:-99px 0 0;} /*89+10*/
@media only screen and (max-width:1023px){
.jumptarget:before { height:85px; margin:-85px 0 0;}/*75+10*/
.scrollOn .jumptarget:before { height:85px; margin:-85px 0 0;}
}
@media only screen and (max-width:799px){
.jumptarget:before { height:55px; margin:-55px 0 0;}/*45+10*/
.scrollOn .jumptarget:before { height:55px; margin:-55px 0 0;}
}

.article .gif-teaser-image-wrapper {padding-bottom:81.5%;width:100%;position: relative; display: block;margin-bottom: 16px;}
.article .gif-teaser-image {width: 100%;top: 0;bottom: 0;left: 0;position: absolute;background-position: 50%;-webkit-background-size: cover;background-size: cover;_margin-bottom:16px;background-color:#f8f6f2;}
@media (min-width:1181px) {
    .articleBig .gif-teaser-image-wrapper {padding-bottom:87.7%;margin-bottom: 0px;}
}




/*
.brandLink,
.brandingTop,
.brandingBottom {display: none;}
.brandLink {height: 100%;top:0; left:0;position:fixed;width:100%;text-decoration:none;}
.brandLink.mobile {display:none;}
.brandingTop {position:relative; margin: 0 auto; max-width: 1200px;}
.brandingTop img {display: block; width: 100%;}
.brandingTop img.desktop {display: block;}
.brandingTop img.mobile {display: none;}
.brandingBottom {max-width: 1200px; margin: 0 auto; text-align: right;}
.brandingBottom img {width: 100%;}

.brandingPage .he {height: 0px;}
.brandingPage .headerWrapper {border:none;}
.brandingPage .mainWrapper {_margin-bottom: 188px; overflow: hidden;}
.brandingPage .wrapper {position:relative; overflow: hidden;}
.brandingPage .padarunakMain-filter {margin-top: 0px; background-color: #fff;}
.brandingPage.withBorder .headerContainer {border: solid #ebebeb 2px;border-bottom: none;}
.brandingPage.withBorder .wrapper {border: solid #ebebeb 2px;border-top: none;}

.lidskojePage .mainWrapper {background: transparent url('/bnr/branding_lidskoje_main.jpg') no-repeat scroll 50% 0; background-color: #e7e7e8;}

.page1100 .footerContent { max-width: 1100px;}
.page1100 .brandingTop { max-width: 1100px;}
.page1100 .headerContainer { max-width: 1100px;}
.page1100 .wrapper {max-width: 1100px;}

@media screen and (min-width: 800px) {
.brandingPage .brandLink,
.brandingPage .brandingTop,
.brandingPage .brandingBottom {display: block;}
.page1100 .brandingTop { max-width: 1100px;}
.page1100 .brandingTop img { max-width: 1100px;}
}

.brandingPage .brandLink,
.brandingPage .brandingTop {display: block; }

@media screen and (max-width: 799px) {
.brandingTop img.desktop {display: none;}
.brandingTop img.mobile {display: block;}
.brandingPage .brandLink.mobile {display: block;}
}

@media screen and (max-width: 1023px) {
.brandingPage .mainWrapper {margin-bottom: 0px;}
}*/


.mobileMenu li.active.padarunak .category{ color:#0fed4e;}
.mobileMenu li.padarunak div a.active{ font-family:'circe-bold', Arial, Verdana, sans-serif; color:#0fed4e;}
.mobileMenu li.padarunak a:hover{ color:#0fed4e;}
.mobileMenu li.padarunak >span:hover p, .mobileMenu li.padarunak.active p{ background-position:-50px -123px;}



@media screen and (max-width: 480px) {
body.padarunakMain .contentCol {width: 100%;float: left;}
body.padarunakMain .sideCol {display:none;}
}


.promo, .gallery.seeAlso .promo{ width:48px; height:48px; position:absolute; background:url('../images/icons/padarunakSale_small.png') no-repeat 9999px 0;}
.promo.new, .gallery.seeAlso .promo.new{ background-position:0 0;}
.promo.saleAction, .gallery.seeAlso .promo.saleAction{ background-position:-48px 0;}
.promo.sale10, .gallery.seeAlso .promo.sale10{ background-position:-96px 0;}
.promo.sale4, .gallery.seeAlso .promo.sale4{ background-position:-144px 0;}
.promo.saleFree, .gallery.seeAlso .promo.saleFree{ background-position:-192px 0;}
.padarunakPage .promo{ width:88px; height:88px; position:absolute; background:url('../images/icons/padarunakSale_big.png') no-repeat 9999px 0;}
.padarunakPage .promo.new{ background-position:0px 0;}
.padarunakPage .promo.saleAction{ background-position:-88px 0;}
.padarunakPage .promo.sale10{ background-position:-176px 0;}
.padarunakPage .promo.sale4{ background-position:-264px 0;}
.padarunakPage .promo.saleFree{ background-position:-352px 0;}

.brandingPage .padarunakMain-filter {margin-top: 0px; background-color: #fff;}



/* MomDad project */
.article h6 a.momdad { position:relative;padding-left: 32px;letter-spacing:0.35px;}
.article h6 a.momdad:before {
    content:" "; position: absolute;
    height:15px; width:19px;left: 0; top: -3px;
    animation: hvr-icon-up 3s ease-out infinite;
    mask:no-repeat 50% 50% url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ2IDM1LjgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDQ2IDM1LjgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0I3OTI2QTt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJtNDAuNiAyMS42YzEuOS0wLjggMy4zLTIuNyAzLjMtNC45IDAtMi45LTIuNC01LjMtNS4zLTUuM3MtNS4zIDIuNC01LjMgNS4zYzAgMi4yIDEuMyA0LjEgMy4zIDQuOS0yLjIgMC42LTQgMi4zLTQuOCA0LjR2LTIuM2MwLTMuMy0yLjItNi4yLTUuMy03LjEgMi4zLTAuOSA0LTMuMSA0LTUuNyAwLTMuNC0yLjctNi4xLTYuMS02LjFzLTYuMSAyLjctNi4xIDYuMWMwIDIuNiAxLjcgNC45IDQgNS43LTMuMSAwLjktNS4zIDMuNy01LjMgNy4xdi0xLjljMC0zLjktMi42LTcuMS02LjEtOC4yIDIuNy0xIDQuNi0zLjYgNC42LTYuNiAwLTMuOS0zLjEtNy03LTdzLTcgMy4xLTcgN2MwIDMgMS45IDUuNiA0LjYgNi42LTMuNSAxLTYuMSA0LjMtNi4xIDguMnYxNGg0NnYtNy4xYzAtMy40LTIuMy02LjItNS40LTcuMXoiLz48L3N2Zz4=);
    -webkit-mask:no-repeat 50% 50% url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ2IDM1LjgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDQ2IDM1LjgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0I3OTI2QTt9PC9zdHlsZT48cGF0aCBjbGFzcz0ic3QwIiBkPSJtNDAuNiAyMS42YzEuOS0wLjggMy4zLTIuNyAzLjMtNC45IDAtMi45LTIuNC01LjMtNS4zLTUuM3MtNS4zIDIuNC01LjMgNS4zYzAgMi4yIDEuMyA0LjEgMy4zIDQuOS0yLjIgMC42LTQgMi4zLTQuOCA0LjR2LTIuM2MwLTMuMy0yLjItNi4yLTUuMy03LjEgMi4zLTAuOSA0LTMuMSA0LTUuNyAwLTMuNC0yLjctNi4xLTYuMS02LjFzLTYuMSAyLjctNi4xIDYuMWMwIDIuNiAxLjcgNC45IDQgNS43LTMuMSAwLjktNS4zIDMuNy01LjMgNy4xdi0xLjljMC0zLjktMi42LTcuMS02LjEtOC4yIDIuNy0xIDQuNi0zLjYgNC42LTYuNiAwLTMuOS0zLjEtNy03LTdzLTcgMy4xLTcgN2MwIDMgMS45IDUuNiA0LjYgNi42LTMuNSAxLTYuMSA0LjMtNi4xIDguMnYxNGg0NnYtNy4xYzAtMy40LTIuMy02LjItNS40LTcuMXoiLz48L3N2Zz4=);
    background-color:#b7926a;
}
.article h6 a.momdad:hover{color:#fd593d;}
.article h6 a.momdad:before:hover{background-color:#fd593d;}

/* Animation for momdad icon*/
@keyframes hvr-icon-up
{
    0%, 15%, 30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    7%, 23% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}