@charset "utf-8";

@font-face{ font-family:'pt-serif-regular'; font-display: swap; src:url('../fonts/pt-serif-regular_webfont.eot'); src:url('../fonts/pt-serif-regular_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-serif-regular_webfont.woff') format('woff'), url('../fonts/pt-serif-regular_webfont.ttf') format('truetype'), url('../fonts/pt-serif-regular_webfont.svg#pt-serif-regular') format('svg'); font-weight:normal; font-style:normal;}
@font-face{ font-family:'pt-sans-bold'; font-display: swap; src:url('../fonts/pt-sans-bold_webfont.eot'); src:url('../fonts/pt-sans-bold_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans-bold_webfont.woff') format('woff'), url('../fonts/pt-sans-bold_webfont.ttf') format('truetype'), url('../fonts/pt-sans-bold_webfont.svg#pt-sans-bold') format('svg'); font-weight:bold; font-style:normal;}
@font-face{ font-family:'pt-sans-regular'; font-display: swap; src:url('../fonts/pt-sans-regular_webfont.eot'); src:url('../fonts/pt-sans-regular_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/pt-sans-regular_webfont.woff') format('woff'), url('../fonts/pt-sans-regular_webfont.ttf') format('truetype'), url('../fonts/pt-sans-regular_webfont.svg#pt-sans-regular') format('svg'); font-weight:normal; font-style:normal;}
@font-face{ font-family:'pt-serif-italic';font-display: swap; src: url('../fonts/pt-serif-italic_webfont.eot');src: url('../fonts/pt-serif-italic_webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pt-serif-italic_webfont.woff') format('woff'),url('../fonts/pt-serif-italic_webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}
@font-face{ font-family:'pt-serif-bold-italic';font-display: swap; src: url('../fonts/pt-serif-bold-italic_webfont.eot');src: url('../fonts/pt-serif-bold-italic_webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/pt-serif-bold-italic_webfont.woff') format('woff'),url('../fonts/pt-serif-bold-italic_webfont.ttf') format('truetype');font-weight: normal;font-style: normal;}

@font-face{ font-family:'circe-regular'; font-display: swap; src:url('../fonts/circe-regular_webfont.eot'); src:url('../fonts/circe-regular_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circe-regular_webfont.woff') format('woff'), url('../fonts/circe-regular_webfont.ttf') format('truetype'), url('../fonts/circe-regular_webfont.svg#circe-regular') format('svg'); font-weight:normal; font-style:normal;}
@font-face{ font-family:'circe-regular'; font-display: swap; src:url('../fonts/circe-regular_webfont.eot'); src:url('../fonts/circe-regular_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circe-regular_webfont.woff') format('woff'), url('../fonts/circe-regular_webfont.ttf') format('truetype'), url('../fonts/circe-regular_webfont.svg#circe-regular') format('svg'); font-weight:normal; font-style:normal;}
@font-face{ font-family:'circe-bold'; font-display: swap; src:url('../fonts/circe-bold_webfont.eot'); src:url('../fonts/circe-bold_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circe-bold_webfont.woff') format('woff'), url('../fonts/circe-bold_webfont.ttf') format('truetype'), url('../fonts/circe-bold_webfont.svg#circe-bold') format('svg'); font-weight:bold; font-style:normal;}
@font-face{ font-family:'circe'; font-display: swap; src:url('../fonts/circe.otf') format('opentype');}
@font-face{ font-family:'circe-extra-bold'; font-display: swap; src:url('../fonts/circe-extra-bold_webfont.eot'); src:url('../fonts/circe-extra-bold_webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/circe-extra-bold_webfont.woff') format('woff'), url('../fonts/circe-extra-bold_webfont.ttf') format('truetype'), url('../fonts/circe-extra-bold_webfont.svg#circe-extra-bold') format('svg'); font-weight:bold; font-style:normal;}
@font-face{
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?femla');
	src:url('../fonts/icomoon.eot?#iefixfemla') format('embedded-opentype'),
		url('../fonts/icomoon.woff?femla') format('woff'),
		url('../fonts/icomoon.ttf?femla') format('truetype'),
		url('../fonts/icomoon.svg?femla#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{ font-family:'museo-serif'; font-display: swap; src:url('../fonts/museo-sans-500.eot'); src:url('../fonts/museo-sans-500.eot?#iefix') format('embedded-opentype'), url('../fonts/museo-sans-500.woff') format('woff'), url('../fonts/museo-sans-500.ttf') format('truetype'), url('../fonts/museo-sans-500.svg#museo-sans') format('svg'); font-weight:normal; font-style:normal;}
