@charset "utf-8";
/*__base styles__*/
html{width:100%; height:100%; min-width:200px;}
body{height:100%; min-width:200px; position:relative; /*left:0; overflow-x:hidden;*/ font-family:'pt-serif-regular', 'Times New Roman', Times, serif; font-size:14px; color:#000000;}
body {text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto;}
_body.notPublished .wrapper {background-image: url(../images/not_published.png);}
sup, sup * { vertical-align: baseline;font-size: 0.8em;position: relative;bottom: 0.3em; }
sub, sub * { vertical-align: baseline;font-size: 0.8em;position: relative;top: 0.3em; }

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx) {
    body {-webkit-font-smoothing: subpixel-antialiased;}
}

*, :after, :before {-moz-box-sizing: border-box;box-sizing: border-box; -webkit-box-sizing: border-box;}

.clearfix:after{content:""; display:block; clear:both;}
*html .clearfix{height:1%;}
*:first-child+html .clearfix{height:1%;}
img{vertical-align: middle;}


h1,h2,h3,h4,h5,h6, .contentTitle{font-weight:normal; color:#000000; font-family:'circe-extra-bold', Arial, Verdana, sans-serif;}
h1{font-size:29px;}
h2{font-size:19px;}
h3{font-size:16px;}
h4{font-size:14px;}
h5{font-size:12px;}
h6{font-size:10px;}



._postPage-contentText{ font:16px 'pt-serif-regular', 'Times New Roman', Times, serif; color:#000000; position:relative;line-height: 1.41em;max-width:1140px; width:auto;}
._postPage-contentText{ margin:0 auto; } /*magicline глючит, если margin-top не 0*/
._postPage-contentText b,
._postPage-contentText strong { font:16px 'circe-bold', Arial, Verdana, sans-serif;}
._postPage-contentText img { max-width:100%;}
._postPage-contentText h2 { font: 16px 'circe-bold', Arial, Verdana, sans-serif; max-width: 950px;margin: 0 auto;padding-bottom: 20px;}
._postPage-contentText a { color:#888888;}
._postPage-contentText .lead {display: none;}

.postPage-contentText .videoWrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0; }
.postPage-contentText .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-bottom: 20px;}

._postPage-contentText p{ max-width: 950px; margin: 0 auto; font-size:15px; }
._postPage-contentText ul{ list-style: initial; padding-bottom:20px; padding-left: 16px;}
._postPage-contentText > img { padding-bottom: 20px; }
._postPage-contentText div > img { padding-bottom: 20px; }
.postPage-contentText div.post-gallery .gallery-control img {padding-bottom: 0px;}
.postPage-contentText figure {display: block; padding: 0; width: 100%; height: auto; margin: 0 auto;margin-bottom:20px !important;max-width: 950px;}
.postPage-contentText figure img {padding-bottom: 10px;width: 100%;}
.postPage-contentText figcaption {font-size: 12px; color:#808080; max-width: 700px;margin: 0 auto;}





.postPage-contentText .text-3-column {-moz-column-count: 3;-moz-column-gap: 35px;-webkit-column-count: 3;-webkit-column-gap: 35px;column-count: 3;column-gap: 35px;}
.postPage-contentText .text-2-column {-moz-column-count: 2;-moz-column-gap: 35px;-webkit-column-count: 2;-webkit-column-gap: 35px;column-count: 2;column-gap: 35px;}
.row {position: relative;margin: 0px -7px;}
.row:after {clear: both;}
.col-lg-6 {float:left;}
.col-lg-6 {position: relative;min-height: 1px;padding-left: 7px;padding-right: 7px;}

@media(min-width:768px){
.postPage-contentText .text-3-column {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
.row {margin: 0 -7px;}
.col-lg-6 {width:50%;}
}
@media(min-width:768px){
.postPage-contentText .text-3-column {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
}
@media(max-width:600px){
.postPage-contentText .text-3-column {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
.postPage-contentText .text-2-column {-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
}

.postPage-content .column3 {width:33.3333%; margin:10px 0px; float:left; display:inline-block; *display:inline; zoom:1; padding: 10px 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
.postPage-content .dividerDesktop {border: none; margin: 0px; display: block;}
.postPage-content .dividerTablet {border: none; margin: 0px; display: none;}
.postPage-content .dividerMobile {border: none; margin: 0px; display: none;}
@media screen and (max-width: 1023px) {
.postPage-content .column3 {width:50%;}
.postPage-content .dividerDesktop {display: none;}
.postPage-content .dividerTablet {display: block;}
}
@media screen and (max-width: 599px) {
.postPage-content .column3 {width:100%;}
.postPage-content .dividerTablet {display: none;}
.postPage-content .dividerMobile {display: block;}
}

.video-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.video-embed-container iframe,
.video-embed-container object,
.video-embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.coub-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 900px; width: 100%; margin: 0 auto;}
.coub-embed-container iframe,
.coub-embed-container object,
.coub-embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.embed-container-900x600 { position: relative; padding-bottom: 66.66%; height: 0; overflow: hidden; margin:0 auto;display: block;}
.embed-container-900x600 iframe,
.embed-container-900x600 object,
.embed-container-900x600 embed { position: absolute; top: 0; left: 0; bottom: 0; width: 100%; height: 100%; }

.instagram-media-container {width:100%;padding: 5px;position: relative; margin: 0 auto; text-align: center;}
.instagram-media-container iframe {position:relative;display: inline-block !important;}
.facebook-embed-container {width:100%;padding: 5px;position: relative; margin: 0 auto; text-align: center;}
.facebook-embed-container iframe {position:relative;display: inline-block !important;max-width: 500px;width: 100% !important;}
.twitter-embed-container {width:100%;padding: 5px;position: relative; margin: 0 auto; text-align: center;}
.twitter-embed-container iframe {position:relative;display: inline-block !important;max-width: 500px;width: 100% !important;}
.coub-embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 900px; width: 100%; margin: 0 auto;}
.coub-embed-container iframe{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

blockquote.twitter-tweet {display: block;padding: 16px;margin: 10px 0;max-width: 468px;border: #ddd 1px solid;border-top-color: #eee;border-bottom-color: #bbb;border-radius: 5px;box-shadow: 0 1px 3px rgba(0,0,0,0.15);font: bold 14px/18px Helvetica, Arial, sans-serif;color: #000;}
blockquote.twitter-tweet p {font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;margin: 0 5px 10px 0;}
blockquote.twitter-tweet a[href^="https://twitter.com"] {font-weight: normal;color: #666;font-size: 12px;}

@media (max-width:560px) {
    .instagram-media-container {width:100%;padding-bottom: 0;}
    .instagram-media-container iframe { }
    .facebook-embed-container {padding-bottom: 0;}
    .facebook-embed-container iframe { }
    .twitter-embed-container {padding-bottom: 0;}
    .twitter-embed-container iframe { }
}


.postPage-contentText .kudapojti-info-block {display: table;border-spacing: 35px;border-collapse: separate;margin:-35px; width: auto;padding-left: 0 !important;}
.postPage-contentText .kudapojti-info-block li{display: table-cell;width: 33.333333%; border: 1px solid #C1C1C1;padding: 20px 25px;}
.postPage-contentText .kudapojti-info-block li,
.postPage-contentText .kudapojti-info-block li p {font:15px 'circe-regular', arial, sans-serif;}
.postPage-contentText .kudapojti-info-block li p {margin: 0 !important;padding: 0 !important;}
.postPage-contentText .kudapojti-info-block li strong {color:#fd593d;}
@media (max-width: 767px){
    .postPage-contentText .kudapojti-info-block {display: block;margin: 0;}
    .postPage-contentText .kudapojti-info-block li {display: inline-block;width: 100%;margin-bottom: 20px !important;}
}


.zozhPostPage .postPage-seeAlsoTitle {border: none;}

.postPage-zozhEvents{background: #f2f2f4;padding: 0 30px;width: auto;margin: 0 -30px;float:none;}
.postPage-zozhEventsTitle {padding: 20px 0 18px 5px;font: 10px 'circe-bold', Arial, Verdana, sans-serif;color: #000000;letter-spacing: 0.1em;}
.postPage-zozhEvents .afishaMain-item {padding: 0;width:19%;margin-right: 1.25%;}
.postPage-zozhEvents .afishaMain-item:last-child {margin-right: 0;}
.postPage-zozhEvents .afishaMain-itemInner {background: #ffffff;padding: 10px;}
.postPage-zozhEvents .afishaMain-itemInfo {height: 130px;}
.postPage-zozhEvents .afishaMain-itemInfo .place {font-family: 'circe-regular', Arial, Verdana, sans-serif;font-size: 12px;line-height: 15px;padding-bottom: 3px;}
.gallery.zozhEvents {padding-bottom: 20px;}
.gallery.zozhEvents .gallery-next{ width:2.5%; height:160px; right:-3%;background: transparent;}
.gallery.zozhEvents .gallery-previous{ width:2.5%; height:160px; left:-3%;background: transparent;}
.gallery.zozhEvents .gallery-previous,
.gallery.zozhEvents .gallery-next{ height:50%; opacity:1; filter:alpha(opacity=100);}
.gallery.zozhEvents .gallery-previous div{ width:16px; height:29px; margin:-15px 0 0 -16px; background-position:0 -67px;}
.gallery.zozhEvents .gallery-next div{ width:16px; height:29px; top:50%; margin:-15px 0 0; background-position:-16px -67px}
.gallery.zozhEvents .gallery-previous:hover div{ background-position:0 -111px;}
.gallery.zozhEvents .gallery-next:hover div{ background-position:-16px -111px;}
.gallery.zozhEvents .afishaMain-item .tag {width: 77px;display: block;position: absolute;font: 12px/35px 'circe-regular', Arial, Verdana, sans-serif;text-align: center;color: #ffffff;background-color: #e1040f;bottom:0;}

.zozhEvents-item{ width:19%;}
.zozhEvents-itemImg{ padding:0; width:100%;}
.zozhEvents-itemInfo{ padding:0;}
.zozhEvents-itemInfo .place{ padding:0;}
.zozhEvents-itemInfo .date{ padding:0;}
.zozhEvents-itemInfoTitle {font: 18px/22px 'circe-bold', Arial, Verdana, sans-serif;}

@media screen and (max-width: 1023px) {
    .postPage-zozhEvents .afishaMain-item {width: 23.8%;margin: 0 1.6% 0 0;}
}

@media screen and (max-width: 799px) {
    .postPage-zozhEvents .afishaMain-item {width: 32.2%;margin: 0 1.7% 0 0;}
}

@media screen and (max-width: 480px) {
    .gallery.zozhEvents .gallery-next div {margin: -15px 0 0 -7px}
    .gallery.zozhEvents .gallery-previous div {margin: -15px 0 0 -11px;}
    .gallery.zozhEvents .afishaMain-itemInfo{ height:155px;}
}

body.postPage-contentText {padding: 0 15px;}

div[data-oembed-url] {margin: 0 auto;}


.cke_show_blocks ul:not([contenteditable=false]):not(.cke_show_blocks_off),
.cke_show_blocks ol:not([contenteditable=false]):not(.cke_show_blocks_off),
.cke_show_blocks figure:not([contenteditable=false]):not(.cke_show_blocks_off),
.cke_show_blocks figcaption:not([contenteditable=false]):not(.cke_show_blocks_off) { background-repeat: no-repeat; border: 1px dotted gray;padding-top: 8px;padding-left: 8px;}
.cke_show_blocks ul:not([contenteditable=false]):not(.cke_show_blocks_off),
.cke_show_blocks ol:not([contenteditable=false]):not(.cke_show_blocks_off) {padding-left: 24px;}
/*.cke_widget_inline[data-cke-display-name=image] {display: block;}*/
.cke_widget_image {display: block !important;}
.cke_widget_mask {width:100% !important;padding:0px !important;}
.post-media .cke_widget_inline {width: 100%;}



._postPage-contentText {width: auto;margin-top: 0;}
._postPage-contentText .lead {display: block;margin-bottom: 40px;}
._postPage-contentText .lead,
._postPage-contentText .lead strong {font-size: 22px;line-height: 1.28em;}
@media only screen and (max-width: 1023px) {.newPostPage .postPage-contentText .lead,
._postPage-contentText .lead strong {font-size: 20px;line-height: 1.4em;}
}
._postPage-contentText h2 {font-size: 27px;font-family: "circe-bold", Arial, Verdana, sans-serif;padding-bottom: 21px;}
._postPage-contentText p {font-size: 17px;line-height: 1.53em;/*padding-bottom: 26px;*/max-width: none;}
_body.newPostPage .postPage-contentText img {width: auto;max-width: 100%;margin: 0;}
._postPage-contentText strong {font-size: 17px;line-height: 1.5em;}




._postPage-contentText{ font:16px 'pt-serif-regular', 'Times New Roman', Times, serif; color:#000000; position:relative;line-height: 1.41em;max-width:1140px; width:auto;}
._postPage-contentText{ margin:0 auto; } /*magicline глючит, если margin-top не 0*/
._postPage-contentText b,
._postPage-contentText strong { font:16px 'circe-bold', Arial, Verdana, sans-serif;}
._postPage-contentText img { max-width:100%;}
._postPage-contentText h2 { font: 16px 'circe-bold', Arial, Verdana, sans-serif; max-width: 950px;margin: 0 auto;padding-bottom: 20px;}
._postPage-contentText a { color:#888888;}
._postPage-contentText .lead {display: none;}

.postPage-contentText .videoWrapper {position: relative; padding-bottom: 56.25%; /* 16:9 */padding-top: 25px;height: 0; }
.postPage-contentText .videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-bottom: 20px;}

._postPage-contentText p{ max-width: 950px; margin: 0 auto; font-size:15px; }
._postPage-contentText ul{ list-style: initial; padding-bottom:20px; padding-left: 16px;}
._postPage-contentText > img { padding-bottom: 20px; }
._postPage-contentText div > img { padding-bottom: 20px; }
.postPage-contentText div.post-gallery .gallery-control img {padding-bottom: 0px;}
.postPage-contentText figure {display: block; padding: 0; width: 100%; height: auto; margin: 0 auto;margin-bottom:20px !important;max-width: 950px;}
.postPage-contentText figure img {padding-bottom: 10px;width: 100%;}
.postPage-contentText figcaption {font-size: 12px; color:#808080; max-width: 700px;margin: 0 auto;}

.postPage-contentText .text-box {font: 19px/27px 'circe-regular', Arial, sans-serif; color:#646464; background: #f8f6f2;position:relative;padding: 50px 30px 45px 40px;margin-bottom: 20px;}
.postPage-contentText ul.text-box {padding-bottom: 10px;}
.postPage-contentText .text-box:before {content:"";position:absolute;top:0;left:50px; width:19px; height:23px; background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAwCAYAAAB9sggoAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANJJREFUeNrs1MEJwzAMBVBXdK0esklzDj10k0Lo3btkAY/iDdoKTGmCitXYUQz9H4x1EPJDBx+mcXi4BkOu0QAGGGCAAQYYYIABBhhggAEGGGCA/QvMp1Mlx1qo0+XeczGNA1/nFjb2RnFS7feGzVA1cSWwXkItcFdrGKOyG3n13LjXCqZCfeD8GhxtiSrBaWFxLUrAxVowHtSVoBa4ToMjJSrU+tHTrCyOLFG/4MgapcVJsLA1SsCFHMwMlcORgIrOOOnNGY72Rn3DUQsoCfcUYADIiWNF+dwngAAAAABJRU5ErkJggg==');background-size: 19px 23px;}





.postPage-contentText {color:#2f2f2f; padding-bottom: 36px;font:17px/1.53em 'pt-serif-regular', 'Times New Roman', Times, serif; position:relative;max-width:1140px; width:auto;}
.postPage-contentText{ margin:0 auto; } /*magicline глючит, если margin-top не 0*/
.postPage-contentText ol,
.postPage-contentText ul,
.postPage-contentText p {font-size: 17px;line-height: 26px;margin:0 auto;margin-bottom: 20px; display:block;width:100%;max-width: 800px;}
/*.postPage-contentText p {font-size: 17px;line-height: 1.53em;margin:0 auto;margin-bottom: 20px !important; display:block;width:100%;max-width: 800px;}*/
.postPage-contentText ol,
.postPage-contentText ul{ padding-left: 16px;}
.postPage-contentText ol{ list-style: decimal;}
.postPage-contentText ul{ list-style: initial;}
.postPage-contentText .post-media {max-width: 950px; margin:0 auto; width: 100%; margin-bottom: 20px;margin-top: 54px;}
.postPage-contentText .post-embed {max-width: 800px; margin:0 auto; width: 100%; margin-bottom: 20px;margin-top: 54px;}
.postPage-contentText .post-embed blockquote{margin:0 auto;}
.postPage-contentText .post-embed div {margin:0 auto;}
.postPage-contentText .post-embed iframe {margin:0 auto;}
.postPage-contentText .post-media + p,
.postPage-contentText .post-embed + p,
.postPage-contentText .cke_widget_wrapper_post-embed + p {margin-top: 54px;}
.postPage-contentText .caption {font:14px pt-sans-regular,Arial,Helvetica,sans-serif;color:#888888;margin-top: 20px;margin-bottom: 50px;}
.postPage-contentText .post-media + .caption {max-width: 950px;margin-top: 20px;margin-bottom: 50px;}
.postPage-contentText .post-embed + .caption {max-width: 800px;margin-top: 20px;margin-bottom: 50px;}
.postPage-contentText .post-embed .instagram-media {position: relative !important;}

.postPage-contentText img {width: auto;margin: 0;max-width:100%;height: auto;}
._postPage-contentText p > img:after {content:"warning";position:absolute;}
.postPage-contentText .post-media img {width:100%;height: auto;margin: 0;max-width: 100%;padding:0;}
.postPage-contentText .post-media a img {width:100%;height: auto;margin: 0;max-width: 100%;padding:0;}
.postPage-contentText p + .post-embed,
.postPage-contentText p + .post-media {margin-top: 54px;}
._postPage-contentText .post-media img:only-child {margin-bottom: 38px !important;}
._postPage-contentText p + .post-media img:only-child {margin-top: 34px !important;}

.postPage-contentText .post-gallery {width: 100%; max-width: 950px; margin: 0px auto; display: block;position: relative;margin-top:60px;margin-bottom: 85px;}
.postPage-contentText .post-gallery .post-media {margin-top: 0 !important;}
.gallery-pagination .gallery-counter {display: inline-block;}
.gallery-pagination .gallery-counter .counter-current {display: inline-block; width: 25px;text-align: right; }
.gallery-pagination .gallery-counter .counter-total {display: inline-block; width: 23px;text-align: left; }
.gallery-pagination .gallery-counter .counter-separator {font-family: Arial, sans-serif;font-weight: bold;}

.gallery-pagination .gallery-counter .gallery-previous,
.gallery-pagination .gallery-counter .gallery-next { width:8px; height:14px; margin:0 0 -1px 0; background:url('../images/icons/gallery_1.png') no-repeat 0 0;background-size: 25px 125px;display: inline-block;}
.gallery-pagination .gallery-counter .gallery-previous{ background-position:0 -70px;}
.gallery-pagination .gallery-counter .gallery-next{ background-position:-6px -70px;}
.gallery-pagination .gallery-counter .gallery-previous:hover{ background-position:0 -84px;}
.gallery-pagination .gallery-counter .gallery-next:hover{ background-position:-6px -84px;}


.postPage-contentText h2 {font: 27px 'circe-bold', Arial, sans-serif; color:#000000;display:block;margin:67px auto 20px;width:100%;max-width: 800px;}
.postPage-contentText h2 b,
.postPage-contentText h2 strong {font: 27px 'circe-bold', Arial, sans-serif !important;}
._postPage-contentText p + h2 {margin-top: 47px !important;}

.postPage-contentText h3 {font: 24px 'circe-bold', Arial, sans-serif; color:#000000;display:block;margin:67px auto 20px;width:100%;max-width: 800px;}
.postPage-contentText h3 b,
.postPage-contentText h3 strong {font: 24px 'circe-bold', Arial, sans-serif !important;}
._postPage-contentText p + h3 {margin-top: 47px !important;}

.postPage-contentText .lead {max-width: 800px;display: block;margin-bottom: 70px;}
.postPage-contentText .lead,
.postPage-contentText .lead strong {font:22px/1.37em 'circe-bold', Arial, Helvetica; font-weight: 700;}
.postPage-contentText p.lead + h2 {margin-top: 60px;}
.postPage-content.hide-lead .postPage-contentText .lead {display: none;}
.postPage-content.hide-lead .postPage-contentText p.lead + h2 {margin-top: 0px;}

.postPage-contentText b,
.postPage-contentText strong {font:19px/26px 'circe-bold', Arial, Helvetica;}
.postPage-contentText em {font-family: 'pt-serif-italic';}
.postPage-contentText figure img {margin: 0 !important;}
.postPage-contentText figure {margin: 0;margin-bottom: 52px !important;}
.postPage-contentText figcaption {font:14px pt-sans-regular,Arial,Helvetica,sans-serif;color:#888888;margin-top: 20px;margin-bottom: -3px;}
.postPage-contentText img.dogStep {width:16px !important; vertical-align: text-top;}
.postPage-contentText p + p.citydog-copyright {margin-top: 49px;}
.postPage-contentText a {color:#fd593d;text-decoration: none;}
.postPage-contentText a:hover {text-decoration: underline;}

@media only screen and (max-width: 1023px) {
    .postPage-contentText .lead,
    .postPage-contentText .lead strong {font-size: 20px;line-height: 1.4em;}
}
.postPage-contentText .w500 {max-width: 500px;}
.cke_widget_wrapper_w500 + .caption,
.postPage-contentText .w500 + .caption {max-width: 500px;}

.postPage-contentText .w600 {max-width: 600px;}
.cke_widget_wrapper_w600 + .caption,
.postPage-contentText .w600 + .caption {max-width: 600px;}

.postPage-contentText .w700 {max-width: 700px;}
.cke_widget_wrapper_w700 + .caption,
.postPage-contentText .w700 + .caption {max-width: 700px;}

.postPage-contentText .w800 {max-width: 800px;}
.cke_widget_wrapper_w800 + .caption,
.postPage-contentText .w800 + .caption {max-width: 800px;}

.postPage-contentText .w900 {max-width: 900px;}
.cke_widget_wrapper_w900 + .caption,
.postPage-contentText .w900 + .caption {max-width: 900px;}

.postPage-contentText .w950 {max-width: 950px;}
.cke_widget_wrapper_w950 + .caption,
.postPage-contentText .w950 + .caption {max-width: 950px;}

.postPage-contentText .w1040 {max-width: 1040px;}
.cke_widget_wrapper_w1040 + .caption,
.postPage-contentText .w1040 + .caption {max-width: 1040px;}

.postPage-contentText .w1140 {max-width: 1140px;}
.cke_widget_wrapper_w1140 + .caption,
.postPage-contentText .w1140 + .caption {max-width: 1140px;}
.postPage-contentText .wPage {margin-left: -30px;margin-right: -30px;width: auto;max-width: none;}
.postPage-contentText .wPage > img {width: 100%;}
.cke_widget_wrapper_wPage + .caption,
.postPage-contentText .wPage + .caption {max-width: 1140px;}
.postPage-contentText figcaption {}
.postPage-contentText .wFull {position: relative;right: 50%;left: 50%;width: 100vw;margin-right: -50vw;margin-left: -50vw;max-width: none;}
.brandingPage
.postPage-contentText .wFull {position: relative;right: auto;left: auto;margin-left: -30px;margin-right: -30px;width: auto;max-width: none;}
@media only screen and (max-width: 1200px) {
    .postPage-contentText .wPage {margin-left: 0;margin-right: 0;}
}

.newsPost .postPage-contentText .caption {max-width: 800px;}
.newsPost .postPage-contentText .post-media {max-width: 800px;}
.newsPost .postPage-contentText .text-box {max-width: 800px;}
.newsPost .postPage-contentText .w500 +.caption {max-width: 500px;}
.newsPost .postPage-contentText .w600 +.caption {max-width: 600px;}
.newsPost .postPage-contentText .w700 +.caption {max-width: 700px;}
.newsPost .postPage-contentText .w900 {max-width: 800px;}
.newsPost .postPage-contentText .w950 {max-width: 800px;}
.newsPost .postPage-contentText .w1040 {max-width: 800px;}
.newsPost .postPage-contentText .w1140 {max-width: 800px;}
.newsPost .postPage-contentText .wPage {max-width: 800px;}

@media (max-width:1140px) {
    .postPage-contentText {padding: 0 17px 36px;}
    .postPage-contentText .wPage {margin-left: -17px !important;margin-right: -17px !important;}
}

/*@media (max-width:799px) {*/
/* 980px = 950px + 30px*/
@media (max-width:980px) {
    ._postPage-contentText {padding: 0 15px;}
    .postPage-contentText .wPage {margin-left: -17px !important;margin-right: -20px !important;}
}

@media (max-width:560px) {
    .postPage-contentText {_padding: 0; _margin: 0 15px;}
}

blockquote.instagram-media {margin: 1px auto !important;}
blockquote.twitter-tweet {margin: 0 auto !important; display: block;}






.postPage-contentText .say {display: table;max-width:900px;width:100%;padding:30px !important;background:#f3f3f3;margin: 0 auto;overflow: hidden;margin-bottom:20px;}
.postPage-contentText .say.olive {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f6ef+0,f3f6ef+100&0+0,1+100 */
  background: -moz-linear-gradient(20deg, rgba(243,246,239,0) 45%, rgba(243,246,239,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(20deg, rgba(243,246,239,0) 45%,rgba(243,246,239,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(20deg, rgba(243,246,239,0) 45%,rgba(243,246,239,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f3f6ef', endColorstr='#f3f6ef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.postPage-contentText .say .person {text-align:center;padding: 0 30px 0 35px;display: table-cell;vertical-align: top;width: 195px;}
.postPage-contentText .say .person img {border-radius:50%;margin-bottom:20px;width:125px;}
.postPage-contentText .say .person span {margin-bottom:0px;}
.postPage-contentText .say .person span img {margin-bottom:0px;}
.postPage-contentText .say .person h3 {font: bold 16px/16px 'circe-bold', Arial, sans-serif;color: #6c7d5b;margin-bottom:5px;}
.postPage-contentText .say .person h4 {font: 14px/14px 'circe-regular', Arial, sans-serif;color: #6c7d5b;margin-top:5px;}
.postPage-contentText .say .quote {display: table-cell;padding: 0 35px;}
.postPage-contentText .say .quote p {font-size:17px;}
@media (max-width:640px) {
    .postPage-contentText .say {padding:50px 0px !important;display: block;}
    .postPage-contentText .say .person {width:100%;padding-bottom: 35px;display: block;}
    .postPage-contentText .say .quote {width:100%;display: block;}
}

.postPage-contentText .nonFormat-Image {width:100%;text-align:center;background:#dddddd;padding:50px !important;margin:30px auto 54px;}
.postPage-contentText .nonFormat-Image img {width:auto;max-width: 100%;}
@media (max-width:640px) {
    .postPage-contentText .nonFormat-Image {padding: 0 !important;}
}


.postPage-contentText .speach {display: table;max-width:800px;width:100%;margin: 0 auto;overflow: hidden;margin-bottom:26px;margin-top:51px;}
.postPage-contentText .speach .person {text-align:left;padding: 0;display: table-cell;vertical-align: top;width: 135px;}
.postPage-contentText .speach .person img {border-radius:50%;margin-bottom:20px;width:100px;}
.postPage-contentText .speach .quote {display: table-cell;}
.postPage-contentText .speach .quote h3 {font: bold 17px 'circe-bold', Arial, sans-serif;color: #000000;text-transform: uppercase;letter-spacing: 0.25px;margin: 16px 0 14px;}
.postPage-contentText .speach .quote h4 {font: 16px 'circe-regular', Arial, sans-serif;color: #808080;margin-bottom:35px;}
.postPage-contentText .speach .quote p {margin-bottom: 20px !important;}
@media (max-width:640px) {
    .postPage-contentText .speach {display: block;}
    .postPage-contentText .speach .person {width:100%;text-align:center;display: block;}
    .postPage-contentText .speach .quote {width:100%;display: block;padding-top:0px;}
    .postPage-contentText .speach .quote h3 {width:100%;text-align:center;}
    .postPage-contentText .speach .quote h4 {width:100%;text-align:center;}
}



.postPage-contentText .venue {background:#f8f6f2;padding:49px 0 60px;margin: 0 auto 60px;}
.postPage-contentText .venue h3 {text-align: center; font: 24px 'circe-bold', Arial, sans-serif; color:#fd593d;margin:5px auto 20px}
.postPage-contentText .venue .post-media {margin:46px auto 54px;}
.postPage-contentText .venue .post-embed {margin:46px auto 54px;}
.postPage-contentText .venue .info {margin:0 auto;}
.postPage-contentText .venue .address {font-family:'circe-regular', Arial, sans-serif;color:#808080;float:left; max-width:250px; padding-right:30px;margin-bottom: 20px;}
.postPage-contentText .venue .desc {margin-left:250px;}
.postPage-contentText .venue + div.venue{margin-top:-60px;padding-top:20px;}
@media (max-width:799px) {
    .postPage-contentText .venue .info {padding: 0 20px;}
    .postPage-contentText .venue .address {max-width: 100%;width:100%;}
    .postPage-contentText .venue .desc {margin-left:0px;}
}
.postPage-contentText .subtitle-number { width: 42px;height: 42px;display: inline-block;text-align: center;border: 3px solid;margin-right: 18px;border-radius: 50%;line-height: 38px;font-size: 21px;}

.postPage-contentText .medallion {max-width:280px; float:left;width:100%;text-align:center;margin-left: calc( (100% - 950px) / 2 );padding:0 15px;}
.postPage-contentText .medallion .person {}
.postPage-contentText .medallion .photo {_margin-left: calc((100% - 950px)/2);margin-top:5px;}
.postPage-contentText .medallion img {border-radius: 50%;margin-bottom: 20px;width: 90px;}
.postPage-contentText .medallion .title {/*text-align:left;margin-left:45px;*/text-align:center;}
.postPage-contentText .medallion h3 {text-transform:uppercase;font: 15px 'circe-bold', Arial, sans-serif;margin:0 0 2px 0;color: #808080;}
.postPage-contentText .medallion h4 {font: 14px 'circe-regular', Arial, sans-serif;color:#808080;margin:2px 0 12px 0;}
@media (max-width:980px) {
    .postPage-contentText .medallion {margin-left:0px;}
}
@media (max-width:799px) {
  .postPage-contentText .medallion .person {float:none; width:100%;}
}

.postPage-contentText .image-frame {max-width:1140px;width:100%;text-align:center;background:#f8f6f2;padding:60px !important;margin:30px auto 54px;}
.postPage-contentText .image-frame img {width:auto;max-width: 100%;}
.postPage-contentText .image-frame + .caption {max-width: 800px !important;}

@media (max-width:640px) {
    .postPage-contentText .image-frame {padding: 0 !important;}
}

.postPage-contentText .vert-image-holder {max-width:950px;overflow:hidden;display:flex;flex-wrap:wrap;justify-content:space-between;}
.postPage-contentText .vert-image-holder img {width:47%;height:47%;_float:left;}
@media (max-width:560px) {
    .postPage-contentText .vert-image-holder img {padding:0;width:100%;float:none;}
    .postPage-contentText .vert-image-holder img:first-child {padding-bottom:30px;}
}

.postPage-contentText .pull-quote {float:left;text-align:center;font:bold 22px/1.53em 'pt-serif-regular', 'Times New Roman', Times, serif;position:relative;max-width:280px;width:100%;padding:35px 15px;/*padding:35px 35px 35px 0;*/margin-bottom:30px;color:#4c503b;margin-left: calc((100% - 950px) / 2);/*margin-left: calc((100% - 950px)/2);margin-right:30px;*/margin-top:6px;}
@media (max-width:980px) {
    .postPage-contentText .pull-quote {margin-left:0px;}
}
.postPage-contentText .pull-quote:after,
.postPage-contentText .pull-quote:before {content:"";position:absolute;top:0;width:60px; height:0; border-top:5px solid #e5e5e5;left: 50%;transform: translateX(-50%);}
.postPage-contentText .pull-quote:after {top:auto; bottom:0px;}
.postPage-contentText .pushed-right {padding-left:280px;max-width:950px;}
@media (max-width:640px) {
    .postPage-contentText .pull-quote {float:none; width: 100%;margin: 60px auto;max-width: 400px;}
    .postPage-contentText .pushed-right {padding-left: 0;}
}
.postPage-contentText > blockquote {max-width:710px; margin:60px auto; text-align:center; padding:60px 30px; font:30px/1.6em 'circe', Arial, sans-serif; text-transform:uppercase;position:relative;hyphens: none;}
.postPage-contentText > blockquote:before {content:"“"; font: 110px "pt-sans-regular", Times New Roman, serif;position:absolute; left: 0;right: 0;top: 0px;margin: 0 auto;color:#e5e5e5;}
.postPage-contentText > blockquote:after {content:"”"; font: 110px "pt-sans-regular", Times New Roman, serif; position:absolute; left: 0;right: 0;bottom: -74px;margin: 0 auto;color:#e5e5e5;}
.postPage-contentText > blockquote strong {font:30px/1.6em 'circe-bold', Arial, sans-serif; font-weight:700;}
.postPage-contentText > blockquote .author {display:block; width:100%; text-align:center;font:17px 'circe-regular', Arial, sans-serif;font-weight:100;text-transform:none; color:#ababab;font-feature-settings: normal;margin-top: 15px;letter-spacing:0.25px}
@media (max-width:480px) {
    .postPage-contentText > blockquote {font-size:26px;padding: 60px 20px;}
    .postPage-contentText > blockquote strong {font-size:26px;}
}


img[src*="dog_step.png"] {width:14px !important;height: 14px !important;vertical-align: baseline;margin-right: 5px;}