#carouselControls .carousel-control-prev, #carouselControls .carousel-control-next {
    width: 7%;
}
.carousel-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 100%;
}
@include media-breakpoint-down(xs) {
    .carousel-image{
        height: 220px;
    }
}