.main-article-thumbnail {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;

  .image-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    background-color: rgba(30, 30, 30, 0.5);

    .overlay-gallery-button {
      position: absolute;
      bottom: 36px;
      right: calc(50% - 77px)
    }

    h2 {
      margin-top: 58px;
      line-height: 48px;
      letter-spacing: 0.03em;
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 500;

      .main-article-link {
        border-bottom: 3px solid white;
        color: white;
      }

      .main-article-link:hover {
        text-decoration: none;
      }
    }
  }
}


.image-overlay:hover {
  background-color: rgba(11, 11, 11, 0.7);
}

@include media-breakpoint-down(xs) {
  .main-article-thumbnail {
    height: 220px;
    .main-article-link-wrapper {
      width: 100% !important;
      padding: 10px;
      text-align: left !important;
      h2 {
        margin: 0;
        font-size: 18px !important;
        text-align: left !important;
        line-height: 2;
      }
    }
  }
}

.small-gallery-thumbnail-wrapper {
  position: absolute;
  bottom: 36px;
  left: 30px;
  z-index: 999;
}

.small-gallery-thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: 100px;
}

.article-thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 220px;
}

.small-article-thumbnail {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 65px;
  height: 43px;
}

.article-content img {
  max-width: 100%;
}

.gallery-image{
  display: block;
  max-height: 500px;
  max-width: 100%;
  margin: auto;
}