.after-navbar {
  margin-top: 100px;
}

.nav-border {
  border-bottom: #B7926A 2px solid;
}

.navbar-top-divider {
  height: 10px;
  background: black;
}

.social {
  a {
    position: relative;

    img.hover {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      z-index: 2;
    }

    &:hover {
      text-decoration: none;

      img.hover {
        display: block;
      }
    }
  }
}

.search {
  position: relative;

  img.hover {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 6px;
    left: 12px;
    display: none;
    z-index: 2;
  }

  &:hover {
    text-decoration: none;

    img.hover {
      display: block;
    }
  }
}

.search-modal .modal-dialog {
  max-width: 100% !important;
  margin: 0;
  border-radius: 0;

  .modal-content {
    border: 0;
    border-bottom: 2px $gold-1 solid;
    border-radius: 0;
    padding: 20px 10px;
  }
}

@include media-breakpoint-down(lg) {
  .mobile {
    width: 100%;
  }
  .navbar-collapse .margin {
    padding: 30px 46px;
    background-color: black;
    height: calc(100vh - 109px);

    .navbar-buttons {
      .main-btn {
        width: 100%;
        margin: 10px 0;
      }

      .social {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .nav-link {
      color: white !important;
    }
  }
}

body.modal-open {
  .navbar-container {
    position: static;
  }
}

.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  padding: 0;
  z-index: 1002;
  .dropdown {
    .dropdown-menu{
      margin: 0;
    }
    .dropdown-toggle:after {
      display: none;
    }
  }
  .dropdown:hover{
    .dropdown-menu{
      display: block;
    }
  }
}