.pagination{
    .arrow {
        margin: 0;
        
        &.disabled{
            display: none;
        }
        .page-link{
            border: 0;
        }
        .page-link:hover{
            background-color: white !important;
        }
    }

    .page-item.num-page-button{
        margin: 0 5px;
        .page-link{
            transition: 0.2s;
            border: 0;
            border-radius: 12.5px;
            width: 25px;
            height: 25px;
            padding: 3px 0;
            color: black;
            text-align: center;
        }
    }
    
    .page-item.num-page-button.active .page-link, .page-item.num-page-button .page-link:hover{
        background-color: $gold-1;
        color: white;
    }
}