.support-popup-wrapper {
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(183, 146, 106, 0.95);
  height: 300px;
  display: none;

  &.active {
    display: flex;
  }

  .support-popup {
    h3 {
      line-height: 35px;
      font-size: 24px;
    }

    a.btn-outline-secondary {
      width: 72px;
      height: 29px;

      &:hover {
        color: $gold-1;
      }
    }

    a.close-popup {
      color: black;
      text-shadow: none !important;
      position: absolute;
      top: 10px;
      right: 30px;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .support-popup-wrapper {
    height: 450px;
  }
}

.cookies-popup {
  z-index: 1001;
  background-color: #F3F3F3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  &.hidden{
    display: none !important;
  }
  .container {
    font-size: 14px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
  }

}
.ad-popup {
  z-index: 1001;
  background-color: #F3F3F3;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 100px;
  &.hidden{
    display: none !important;
  }
  .container {
    font-size: 14px;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  #closeAdPopup {
    font-size: 16px;
    padding: 5px;
    position: absolute;
    top: -34px;
    right: 0;
    background-color: #F3F3F3;
  }
}