{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="my-3">
            <div class="row">
                <div class="col-lg-8">
                    {% include 'components/main_article_thumbnail.html.twig' with {'post': mainpost} %}
                    <div class="row mt-5">
                        {% for post in posts %}
                            {% if loop.index == 2 %}
                                {% include 'components/ads/ad_480x480.html.twig' with {'showSeznam': showSeznam, 'zoneId': 124192} %}
                            {% endif %}
                            <div class="col-sm-6">
                                {% include 'components/article_thumbnail.html.twig' with {'post': post} %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    {% include 'components/ads/ad_side_300x300.html.twig' with {'showSeznam': showSeznam} %}
                    <div class="p-3 my-5 popular-articles-navigation">
                        <div>
                            <div class="font-weight-medium text-uppercase text-primary text-center pt-2 font-raleway">-
                                nejčtenější -
                            </div>
                            <ol class="list-group list-group-flush">
                                {% for top in topposts %}
                                    <li class="list-group-item p-2">
                                        <a class="d-flex p-0 align-items-center text-left text-dark"
                                           href="{{ path('article_detail', {'url' : top.url}) }}">
                                            <div>{{ loop.index }}.</div>
                                            <div class="mx-2 flex-shrink-0 small-article-thumbnail"
                                                 style="background-image: url('{{ vich_uploader_asset(top, 'imageFile') }}');"></div>
                                            <div class="font-weight-medium d-inline-block text-wrap text-truncate"
                                                 style="max-height: 48px;">{{ top.titleClear|easyadmin_truncate(30, "...") }}</div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                            <div class="font-weight-medium text-uppercase text-primary text-center pt-2 font-raleway">
                                - nejčtenější {{ actualMonth }} -
                            </div>
                            <ol class="list-group list-group-flush">
                                {% for top in topActualMonth %}
                                    <li class="list-group-item p-2">
                                        <a class="d-flex p-0 align-items-center text-left text-dark"
                                           href="{{ path('article_detail', {'url' : top.url}) }}">
                                            <div class="">{{ loop.index }}.</div>
                                            <div class="mx-2 flex-shrink-0 small-article-thumbnail"
                                                 style="background-image: url('{{ vich_uploader_asset(top, 'imageFile') }}');"></div>
                                            <div class="font-weight-medium d-inline-block text-wrap text-truncate"
                                                 style="max-height: 48px;">{{ top.titleClear|easyadmin_truncate(30, "...") }}
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                    {% include 'components/ads/ad_side_300x600.html.twig' with {'showSeznam': showSeznam, 'zoneId': 124167} %}
                </div>
            </div>
        </div>
        {% include 'components/paginator.html.twig' with {'actualPage': actualPage, 'path': 'article_list', 'pages': pagesCount} %}
        {% include 'components/ads/before_footer_ad.html.twig' with {'showSeznam': showSeznam} %}
        {% include 'components/ads/ad_480x480.html.twig' with {'showSeznam': showSeznam, 'zoneId': 183206} %}
    </div>
{% endblock %}
