{% extends 'base.html.twig' %} {% block body %}
    <div class="container">
        <div class="smaller-margin-after-breadcrumbs">
            <h2 style="font-size: 30px;" class="text-primary text-center mt-5 text-uppercase">VÝSLEDKY HLEDÁNÍ</h2>
            {% include 'components/breadcrumb_navigation.html.twig' with breadcrumbs %}
        </div>
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <form method="post" action="{{ path('search') }}" class="d-flex">
                    <input type="text"
                           class="form-control rounded-0 border-width-2 p-4 w-auto d-inline-block flex-grow-1 fs-18"
                           id="" name="search_phrase" value="{{ phrase }}" placeholder="Co hledáte?">
                    <button type="submit" class="btn btn-primary rounded-0 border-0 btn-search"><img
                                src="/images/svg/magnify_white.svg" alt="magnify_white"></button>
                </form>
            </div>
        </div>
        <div class="row my-5">
            {% for post in posts %}
            {% include '/components/search_result_item.html.twig' with {'post': post} %}
            {% endfor %}

            {% if posts|length == 0 %}
                <h3>Nic jsme nenašli :-(</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
