{% extends 'base.html.twig' %} {% block body %}
    <div class="container pb-5">
        <h2 style="font-size: 30px;" class="text-primary text-center mt-5 text-uppercase">soukromí</h2>
        {% include 'components/breadcrumb_navigation.html.twig' with breadcrumbs %}
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <h2 class="text-uppercase pb-5">Zásady ochrany osobních údajů</h2>
          
          <p>
            CEE Media s.r.o., IČO: 08748993, se sídlem Bratranců Veverkových 680, Zelené Předměstí, 53002 Pardubice zapsaná v obchodním rejstříku vedenému Krajského soudu v Hradci Králové, oddíl C, vložka 44991, (dále jen „City Dog“) si velmi váží Vaší důvěry a současně ctí a respektuje nejvyšší standardy ochrany osobních údajů. Proto City Dog jako provozovatel webových stránek www.city-dog.cz (dále jen „Webové stránky“) si Vás jako uživatele těchto webových stránek dovoluje informovat o níže popsaném zpracování osobních údajů a zásadách ochrany soukromí (dále jen „Zásady“).
          </p>
 
<p class="font-weight-bold">A o čem Vás budeme v těchto Zásadách informovat?</p>
<p class="font-weight-bold"></p>
<p class="">
  Dozvíte se se zejména následující informace:
</p>

<p>
  totožnost a kontaktní údaje správce;<br>
  jaké Vaše osobní údaje budeme zpracovávat;<br>
  pro jaké účely budeme Vaše osobní údaje zpracovávat;<br>
  na základě čeho můžeme Vaše osobní údaje zpracovávat;<br>
  po jakou dobu budeme Vaše osobní údaje zpracovávat;<br>
  komu dalšímu mohou být Vaše osobní údaje předány;<br>
  jaká máte práva ve vztahu k Vašim osobním údajům.
</p>
 

<p class="font-weight-bold">
  1. Kdo je správcem Vašich osobních údajů a jaké jsou jeho kontaktní údaje?
</p>

<p>
  1.1  Správcem Vašich osobních údajů je společnost City Dog.
</p>

<p>
  1.2  Pokud budete chtít něco v Zásadách vysvětlit, případně budete chtít s něčím v tomto ohledu poradit, můžete se na nás kdykoliv obrátit, přičemž kontaktní údaje správce jsou:
</p>

<p>
  adresa pro doručování: Vinohradská 2165/48, Vinohrady, 120 00 Praha 2;<br>
  email pro elektronické doručování: info@city-dog.cz.<br>
  1.3  Správce Vás rovněž informuje, že nejmenoval pověřence na ochranu osobních údajů.
</p>

<p class="font-weight-bold">
  2.     Jaké Vaše osobní údaje budeme zpracovávat?
</p>

<p>
  2.1  Zpracováváme pouze Vaše osobní údaje, které nám poskytnete pro účely specifikované v těchto Zásadách.
</p>

<p>
  2.2  Pokud se přihlašujete do služeb v rámci Webových stránek, Jedná se o následující osobní údaje:
</p>

<p>
  jméno a příjmení;<br>
  email;<br>
  2.3  Pokud se přihlašujete do služeb v rámci Webových stránek prostřednictvím údajů třetích stran (např. Facebook), tyto aplikace nám umožňují sdílení některých Vašich osobních údajů v rozsahu jimi stanoveném. Pro bližší informace si, prosím, prostudujte podmínky těchto třetích stran, včetně jejich zásad ochrany soukromí.
</p>

<p>
  2.4  Pokud nám udělíte souhlas se zasíláním newsletteru, budeme pro tyto účely zpracovávat Vaše jméno, příjmení a e-mail. Váš souhlas s takovým zpracováním získáváme v elektronické podobě, Vaše osobní údaje začneme zpracovávat až poté, co vyplníte do příslušného formuláře pro zasílání newsletteru a vybraných aktualit své údaje a následně své přání odebírat newsletter potvrdíte prostřednictvím zaškrtnutí políčka. Nepotvrdíte-li své přání odebírat newsletter, Vaše údaje bez zbytečného odkladu zlikvidujeme.
</p>

<p>
  2.5  Souhlas s tímto zpracováním osobních údajů nám dáváte dobrovolně a můžete jej kdykoliv odvolat, a to buď zasláním oznámení o odvolání souhlasu písemně na adresu našeho sídla nebo kliknutím na příslušný odkaz v zaslaném newsletteru.
</p>

<p>
  2.6  V případě, že se zúčastníte některé z našich soutěží, budeme požadovat Vaši registraci na našem webu a zpracovávat Vaše jméno, příjmení, e-mailovou adresu, v případě výhry i adresu a telefonní číslo, a to na základě Vašeho souhlasu a dále našich oprávněných zájmů (údaje jsou nezbytné pro zaslání výhry). Tyto údaje zpracováváme pouze po dobu nutnou k vyhodnocení soutěže a doručení cen, maximálně však po dobu 90 dnů od ukončení soutěže.
</p>

 
<p class="font-weight-bold">
  3.     Pro jaké účely budeme Vaše osobní údaje zpracovávat?
</p>

<p>
  3.1  Hlavním důvodem, proč zpracováváme Vaše osobní údaje, je pro naše interní potřeby, zejména abychom mohli spravovat Vámi poskytnuté osobní údaje k plnému využití služeb na našich Webových stránkách, k zlepšení jejich kvality, obsahu a jejich případnému vývoji, jakož k zajištění jejich bezpečnosti.
</p>

<p>
  3.2  Vaše osobní údaje, které nám předáte v souvislosti s žádostí o zasílání newsletteru, slouží k tomu, abychom Vám mohli zasílat výběr našich nejlepších článků za vybrané období. 
</p>

<p class="font-weight-bold">
  4.     Na základě čeho můžeme Vaše osobní údaje zpracovávat?
</p>

<p>
  4.1  Vaše osobní údaje zpracováváme ke všem výše uvedeným účelům zpracování na základě Vámi uděleného souhlasu se zpracováním, který nám udělíte okamžikem poskytnutí Vašich osobních údajů v rámci Vašeho přihlášení (ať již přímo na Webových stránkách či prostřednictvím přihlášení přes aplikace třetích osob např. Facebook).
</p>


<p class="font-weight-bold">
  5.     Po jakou dobu budeme Vaše osobní údaje zpracovávat?
</p>

<p>
  5.1  Vaše osobní údaje budeme zpracovávat pouze po nezbytně nutnou dobu potřebnou k účelům jejich zpracování, zejména po dobu, po kterou budete chtít plně využívat našich Webových stránek, nejdéle však do odvolání Vašeho souhlasu se zpracováním. Základní Identifikační údaje týkající se Vaší osoby, jakož i údaje týkající se udělení/odvolání souhlasu, budou zpracovávány po dobu trvání Vámi uděleného souhlasu a dále obvykle 6 – 12 měsíců po jeho odvolání pro případ vzniku sporu mezi Vámi a City Dog.  
</p>

<p>
  5.2  V případě, že o Vás napíšeme článek, a to na základě Vašeho souhlasu se zpracováním, budeme Vaše údaje pro naše interní potřeby uchovávat maximálně 10 let.
</p>


<p class="font-weight-bold">
  6.     Komu dalšímu mohou být Vaše osobní údaje předány?
</p>

<p>
  6.1  Vaše osobní údaje jsou u nás v bezpečí, kdy ochrana Vašich dat je naší prioritou a Vaše osobní údaje jsou zabezpečeny standardními postupy a technologiemi. Berete rovněž na vědomí, že City Dog vynaloží maximální úsilí, aby nedošlo k neoprávněnému zpracování Vašich osobních údajů.
</p>

<p>
  6.2  Při plnění svých závazků a povinností a poskytování našich služeb využíváme odborné a specializované služby jiných subjektů. Pokud tito dodavatelé zpracovávají osobní údaje, které jim předáme, mají postavení zpracovatelů osobních údajů. Nejčastěji Vaše osobní údaje předáváme společnostem zajišťujícím pro nás technickou a IT podporu nebo činnost advokátů, účetních a auditorů.
</p>

<p>
  6.3  Vaše osobní údaje nebudou předávány třetím osobám (výjimkou jsou spolupracující novináři společnosti City Dog v souvislosti s plněním jejich pracovních povinností, při kterých je nutné nakládat s Vašimi osobními údaji, případně třetí strany, které pro nás zajišťují podpůrné technické či serverové služby (i včetně takových třetích stran ze třetí země), to vše však pouze v rozsahu, který je v příslušném případě nezbytný a za dodržení patřičných bezpečnostních opatření a standardů ochrany osobních údajů. Jsou-li údaje předávány do třetích států, činí tak Cty Dog výhradně na základě řádně uzavřených smluvních doložek se Zpracovatelem. Vaše osobní údaje nebudou dále předávány žádným dalším osobám s výjimkou případů, kdy, za určitých přesně definovaných podmínek, jsme povinni Vaše osobní údaje předat na základě platných právních předpisů (např. Policii ČR, příslušných orgánům státní správy, soudům apod.).
</p>

<p class="font-weight-bold">
  7.     Jaká máte práva ve vztahu k Vašim osobním údajům?
</p>

<p>
  7.1  Velmi si vážíme Vaší důvěry a klademe rovněž nemalý důraz na práva, která máte ve vztahu k námi prováděnému zpracování Vašich osobních údajů.
</p>

<p>
  7.2  Mezi tato Vaše práva patří zejména:
</p>

<p>
  právo na přístup k osobním údajům;<br>
  právo na opravu osobních údajů;<br>
  právo na výmaz osobních údajů;<br>
  právo na omezení zpracování osobních údajů;<br>
  právo podat stížnosti proti zpracování osobních údajů.<br>
  7.3   Abyste lépe pochopili význam a obsah jednotlivých práv, podáváme Vám níže jejich bližší vysvětlení:
</p>


<p>
  právo na přístup k osobním údajům znamená, že máte právo od nás kdykoliv na základě žádosti získat potvrzení, zda osobní údaje, které se Vás týkají, jsou či nejsou námi zpracovávány a pokud tomu tak je, pak za jakými účely, komu jsou zpřístupněny, jak dlouho budou námi zpracovávány, zda máte právo na opravu, výmaz, omezení zpracování či právo vznést námitku, odkud jsme osobní údaje získali a zda dochází k automatizovanému rozhodování, včetně profilování;<br>
  právo na opravu osobních údajů znamená, že máte právo na opravu či doplnění Vašich osobních údajů, pokud jsou nepřesné či neúplné;<br>
  právo na výmaz osobních údajů („právo být zapomenut“) znamená, že máte právo, abychom Vaše osobní údaje vymazali, zejména pokud i) již nejsou potřebné pro účely, pro které byly shromážděny či zpracovány, ii) osobní údaje byly zpracovány protiprávně, nebo iii) nám to ukládá zákonná povinnost;<br>
  právo na omezení zpracování osobních údajů znamená, že máte právo na to, abychom omezili zpracování Vašich osobních údajů do té doby, než budou vyřešeny jakékoliv případné sporné otázky týkající se zpracování Vašich osobních údajů (např. po dobu ověření přesnosti Vašich osobních údajů či pokud zpracování Vašich osobních údajů je protiprávní, ale namísto jejich výmazu budete požadovat pouze omezení jejich použití apod.);<br>
  7.4  Veškerá Vaše práva (včetně těch zde uvedených), včetně odvolání Vašeho souhlasu se zpracováním osobních údajů, můžete uplatnit u nás tak, že nás kontaktujete na emailové adrese info@city-dog.cz a pokud jde o stížnost proti zpracování Vašich osobních údajů, tu můžete podat u dozorového úřadu, kterým je Úřad pro ochranu osobních údajů (www.uoou.cz).
</p>


<p class="font-weight-bold">
  8.     Jakým způsobem zpracováváme Vaše osobní údaje?
</p>

<p>
  Vaše osobní údaje zpracováváme automatizovaně i manuálně a vedeme záznamy o činnostech zpracování.
</p>
 

<p><b>9.     Jaké služby využíváme v souvislosti s provozem našich webových stránek?</b></p>


<p><b>Použití souborů cookies</b></p>

<p>
  Abychom zlepšili fungování našich webových stránek a optimalizovali naše marketingové aktivity používáme na našich webových stránkách cookies. Cookie je malý soubor, který webová stránka ukládá na Váš pevný disk. Získané informace mohou zahrnovat adresu IP připojujícího se počítače nebo typ použitého prohlížeče. Cookie slouží k rozlišování jednotlivých uživatelů přistupujících k našim webovým stránkám a neumožňují bez dalšího osobní identifikaci uživatelů webové stránky. 
</p>

<p>
  V případě, že nesouhlasíte se shromažďováním Cookies, můžete v nastavení svého prohlížeče jejich používání zakázat.
</p>

 

<p><b>Analytické služby Google a Yandex Metrica</b></p>

<p>
  K analýze webových stránek pomocí cookie souborů používáme službu Google Analytics poskytovanou společností Google Inc., se sídlem Amphitheatre Parkway, Mountain View, CA 94043, USA. Před předáním údajů této společnosti osobní údaje striktně anonymizujeme a této společnosti za účelem analýzy předáváme již jen zkrácené IP adresy, na jejichž základě není možná identifikace konkrétních osob.
</p>

<p>
  I přesto můžete sběru cookies a analýze Google Analytics zabránit, a to například změnou nastavení Vašeho prohlížeče, nebo instalací speciálního pluginu do Vašeho prohlížeče.
</p>

<p>
  K analýze webových stránek pomocí používáme dále službu Yandex Metrica poskytovanou společností Yandex Europe AG, se sídlem Werftestrasse 4, 6005 Luzern, Switzerland. Před předáním údajů této společnosti osobní údaje striktně anonymizujeme a této společnosti za účelem analýzy předáváme již jen zkrácené IP adresy, na jejichž základě není možná identifikace konkrétních osob.
</p>



<p><b>Užívání sociální pluginů</b></p>

<p>
  Naše webové stránky obsahují sociální pluginy třetích stran, a to plugin sítě Facebook, který je spravován společností Facebook Inc., 1601 South California Avenue, Palo Alto, CA 94304, USA; plugin služby; plugin služby Instagram, který je spravován společností Instagram Inc., 1601 Willow Road, Menlo Park, California 94025, USA.; a dále plugin služby Twitter, který je spravován společností Twitter Inc., 1355 Market Street, Suite 900 San Francisco, CA 94103 Díky těmto pluginům můžete sdílet obsah s dalšími lidmi. Tyto sociální pluginy nespravujeme my a nejsme tak odpovědni za případné zpracování Vašich osobních údajů výše uvedenými provozovateli těchto pluginů, kteří jsou vůči Vám v postavení správců osobních údajů správci nebo jejich webových stránek.
</p>

 

<p>
  Veškeré právní vztahy vznikající na základě či v souvislosti se zpracováním Vašich osobních údajů se řídí právním řádem České republiky a k řešení případných sporů z toho vzniklých jsou příslušné české soudy.
</p>

<p>
  Vyhrazujeme si právo tyto Zásady kdykoliv měnit, přičemž datum poslední změny těchto Zásad vždy uvedeme. Pokud dojde k výrazným změnám, všechny takové změny zdůrazníme a je-li to možné, pokusíme se Vás o nich přímo informovat.
</p>

<p>
  Tyto Zásady jsou účinné od 25. 5. 2018
</p>
</div>
        </div>
    </div>
    
{% endblock %}