@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');

$gold-1: #B7926A;
$green-1: #BCCF00;
$grey-1: #F3F3F3;
$grey-2: #D8D8D8;
$grey-3: #9B9B9B;
$grey-4: #4A4A4A;

$theme-colors: (
        "primary": $gold-1,
        "light": $grey-2,
        "secondary": black
);

@import "~bootstrap/scss/bootstrap";

html{
    scroll-behavior: smooth;
}

.text-underlined{
    text-decoration: underline;
}

.border-width-2{
    border-width: 2px !important;
}

@import "styles/buttons";
@import "styles/text";
@import "styles/images";
@import "styles/pagination";
@import "styles/carousel";
@import "styles/ads";
@import "styles/navbar";
@import "styles/breadcrumb";
@import "styles/popups";
@import "styles/comment";
@import "styles/form";
