<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Citydog.cz | {{ controller_name }}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/dist/index.css">
    <link rel="icon"
          type="image/png"
          href="/images/png/City_dog_favicon.png">
    <link rel="alternate" type="application/rss+xml" title="Citydog.cz - Pražský žurnál" href="{{ path('app_feed') }}"/>
    <meta http-equiv="Content-Security-Policy: default-src unsafe-inline;">
    <meta name=“robots“ content=“index, follow“>
    {% block socials %}
        <meta property="og:title" content="City-dog.cz| Pražský žurnál">
        <meta property="og:description"
              content="CITY-DOG.CZ je NEJLEPŠÍ PARŤÁK PRO ŽIVOT V PRAZE, který hledá, co se kde v Praze zajímavého a mimořádného šustne. O všem vás bude informovat a vám už tak nikdy nic důležitého neuteče.">
        <meta property="og:image" content="https://city-dog.cz/images/png/logo_paticka.png">
        <meta property="og:url" content="https://city-dog.cz/">

        <meta name="twitter:title" content="City-dog.cz| Pražský žurnál">
        <meta name="twitter:description"
              content="CITY-DOG.CZ je NEJLEPŠÍ PARŤÁK PRO ŽIVOT V PRAZE, který hledá, co se kde v Praze zajímavého a mimořádného šustne. O všem vás bude informovat a vám už tak nikdy nic důležitého neuteče.">
        <meta name="twitter:image" content="https://city-dog.cz/images/png/logo_paticka.png">
        <meta name="twitter:card" content="summary_large_image">

        <meta name="description"
              value="CITY-DOG.CZ je NEJLEPŠÍ PARŤÁK PRO ŽIVOT V PRAZE, který hledá, co se kde v Praze zajímavého a mimořádného šustne. O všem vás bude informovat a vám už tak nikdy nic důležitého neuteče.">
        <meta name="keywords" value="život v praze, praha, důležité informace">
    {% endblock %}
</head>
<body>
<div id="scrollUp"></div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v6.0"></script>
{% if shouldIncludeNavbarAd %}
    {% include 'components/ads/navbar_ad.html.twig' %}
{% endif %}
{% include 'navbar.html.twig' %}
{% block body %}{% endblock %}
{% if not showSeznam %}
    {% include 'components/support_popup.html.twig' %}
{% endif %}

{% include 'footer.html.twig' %}
{% include 'webfix_footer_small.html.twig' %}
{% include 'components/cookies_popup.html.twig' %}
{% if showSeznam %}
    <div id="showSeznam"></div>
    <script src="https://ssp.imedia.cz/static/js/ssp.js"></script>
{% else %}
    <script data-ad-client="ca-pub-9351958709261256" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endif %}
<script src="/dist/index.js"></script>
{% block javascripts %}
{% endblock %}

{% if not showSeznam %}

    <!-- iBILLBOARD Ad Server one2many code -->

    <!-- HowTo: All the ad codes must be above this code! -->

    <!-- HowTo: It is good idea to place this code just below the last ad code. -->

    <script type='text/javascript' charset='utf-8' src='https://go.eu.bbelements.com/bb/bb_one2n.js'></script>

    <script type='text/javascript'>/* <![CDATA[ */

        bmone2n.addPosition('26895.1.1.9', '');

        bmone2n.addPosition('26895.1.1.10', '');

        bmone2n.addPosition('26895.1.1.15', '');

        bmone2n.addPosition('26895.1.1.16', '');

        bmone2n.getAd('go.eu.bbelements.com', '', '' + (typeof (bburlparam) == 'string' ? '&' + bburlparam : ''), 'utf-8');

        /* ]]> */</script>

    <div id='bmone2t-26895.1.1.9' style='display:none'>
        <script type='text/javascript'>/* <![CDATA[ */
            bmone2n.makeAd('26895.1.1.9'); /* ]]> */</script>
    </div>

    <div id='bmone2t-26895.1.1.10' style='display:none'>
        <script type='text/javascript'>/* <![CDATA[ */
            bmone2n.makeAd('26895.1.1.10'); /* ]]> */</script>
    </div>

    <div id='bmone2t-26895.1.1.15' style='display:none'>
        <script type='text/javascript'>/* <![CDATA[ */
            bmone2n.makeAd('26895.1.1.15'); /* ]]> */</script>
    </div>

    <div id='bmone2t-26895.1.1.16' style='display:none'>
        <script type='text/javascript'>/* <![CDATA[ */
            bmone2n.makeAd('26895.1.1.16'); /* ]]> */</script>
    </div>

    <script type='text/javascript'>/* <![CDATA[ */
        bmone2n.moveAd(); /* ]]> */</script>
{% endif %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111342073-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111342073-1');
</script>

</body>
</html>
