<div class="container-fluid text-muted py-1 webfix-footer bg-white">
    <div class="d-flex align-items-center flex-wrap">
        <div class="fs-12 col-12 d-flex justify-content-center text-center-footer justify-content-md-start col-md-5 px-0 pr-md-3">© 2020, CityDog</div>
        <div class="col-12 col-md-2 px-0"><a class="d-flex justify-content-center" target="_blank" href="http://www.matfix.cz"><img height="20px" class="border-footer-logo px-4" src="/images/svg/webfixLogo.svg" alt="logoWebfix"></a></div>
        <div class="fs-12 col-12 d-flex justify-content-center justify-content-md-end col-md-5 px-0 pl-md-3 font-italic">Tvoříme s radostí</div>
    </div>
</div>
