<div>
    {# @var post App\Entity\Posts #}
    <a href="{{ path('article_detail', {'url': post.url}) }}"><div style="background-image: url('{{vich_uploader_asset(post, 'imageFile')}}')" class="mb-2 article-thumbnail"></div></a>
    <a href="{{ path('article_detail', {'url': post.url}) }}"><h3 class="text-dark font-weight-medium" style="font-size: 18px;">
            {{post.postTitle|raw}}
        </h3></a>
    <p>{{ post.summary }}…</p>

</div>
