<div class="cookies-popup d-none d-sm-block" id="cookiesPopup">
    <div class="container">
        <div>
            Při poskytování služeb nám pomáhají soubory cookie. Používáním našich služeb vyjadřujete souhlas s naším
            používáním souborů cookie.
            <a class="text-underlined text-dark text-nowrap" href="{{ path('privacy') }}">Další informace</a></div>
        <a href="" id="closeCookiesPopup"><img src="/images/svg/popup_close_icon.svg" alt="popupClose"></a>
    </div>
</div>
