<div class="my-3">
    <div class="position-relative main-article-thumbnail"
         style="background-image: url('{{ vich_uploader_asset(post, 'imageFile') }}');">
        <div class="image-overlay d-flex">
            <div class="main-article-link-wrapper m-auto w-75 align-self-center">
                <h2 class="text-center">
                    <a class="main-article-link"
                       href="{{ path('article_detail', {'url': post.url}) }}">{{ post.postTitle|raw }}</a>
                </h2>
            </div>
            {% if post.gallery %}
                <a href="{{ path('gallery', {'url': post.url}) }}"
                   class="mx-1 btn main-btn gallery-btn text-uppercase rounded-0 d-md-block d-none overlay-gallery-button">galerie
                    ({{ post.galleryImageCount }})<img class="ml-2" src="/images/svg/Next_photos.svg" alt="Next_photos"></a>
            {% endif %}
        </div>
    </div>
    <div class="d-flex d-md-none align-items-center my-2">
        {% if post.gallery %}
            {% for image in post.images|slice(0,2) %}
                <a class="mr-2 {% if loop.index == 2 %}d-none d-sm-block{% endif %}" href="{{ path('gallery', {'url': post.url}) }}">
                    <div class="small-gallery-thumbnail"
                         style="background-image: url('{{ vich_uploader_asset(image, 'imageFile') }}')"></div>
                </a>
            {% endfor %}
            <a href="{{ path('gallery', {'url': post.url}) }}" class="mx-1 btn main-btn gallery-btn text-uppercase rounded-0">galerie
                ({{ post.getGalleryImageCount }})<img class="ml-2" src="/images/svg/Next_photos.svg" alt="Next_photos"></a>
        {% endif %}
    </div>
</div>
