<nav class="my-5">
    {% set polomer = 3 %}
    {% set left = actualPage - polomer >= 1 ? actualPage - polomer : 1 %}
    {% set right = actualPage + polomer <= pages ? actualPage + polomer : pages %}
    {% if category is not defined %}
        {% set category = 0 %}
    {% endif %}
    <ul class="pagination justify-content-center align-items-center">
        {% if actualPage > 1 %}
            <li class="page-item  arrow">
                <a class="page-link" style="transform: rotate(180deg);"
                   href="{{ path(path, { 'page' : actualPage-1, 'category': category}) }}">
                    <img src="/images/svg/arrow_right_black.svg" alt="arrow_right_black">
                </a>
            </li>
        {% endif %}
        {% if left > 1 %}
            ...
        {% endif %}
        {% if pages > 1 %}
            {% for page in left..right %}
                <li class="page-item num-page-button {% if page == actualPage %}active{% endif %}"><a
                            class="page-link" href="{{ path(path, {'page': page, 'category': category}) }}">{{ page }}</a>
                </li>
            {% endfor %}
        {% endif %}
        {% if right < pages - 1 %}
            ...
        {% endif %}
        {% if pages > 1 %}
            <li class="page-item arrow">
                <a class="page-link" href="{{ path(path, { 'page' : actualPage+1, 'category': category}) }}">
                    <img src="/images/svg/arrow_right_black.svg" alt="arrow_right_black">
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
