<div class="col-12 col-sm-6 col-md-10 col-lg-7 offset-md-1">
    <div class="d-flex flex-column flex-md-row">
        <div class="small-gallery-thumbnail mr-3 flex-shrink-0 mb-2"
             style="background-image: url('{{ vich_uploader_asset(post, 'imageFile') }}')"></div>
        <div>
            <a href="{{ path('article_detail', {'url': post.url}) }}"><h3 class="text-dark fs-18">{{ post.postTitle }}</h3></a>
            <p>{{ post.summary }}</p>
        </div>

    </div>
</div>
