{% extends 'base.html.twig' %}

{% block socials %}
    <meta property="og:title" content="{{ post.titleClear }}">
    <meta property="og:description" content="{{ post.summary }}">
    <meta property="og:image" content="{{ vich_uploader_asset(post, 'imageFile') }}">
    <meta property="og:url" content="https://city-dog.cz/clanek/detail/{{ post.url }}">

    <meta name="twitter:title" content="{{ post.titleClear }}">
    <meta name="twitter:description" content="{{ post.summary }}">
    <meta name="twitter:image" content="{{ vich_uploader_asset(post, 'imageFile') }}">
    <meta name="twitter:card" content="summary_large_image">

    <meta name="description" value="{{ post.summary }}">
    <meta name="keywords" value="{{ post. keywords }}">
{% endblock %}

{% block body %}
    {# @var post App\Entity\Post #}
    <div class="container">
        <div class="up-btn-wrapper">
            <a href="#scrollUp" class="up-btn">
                <img src="/images/svg/Up.svg" alt="up_icon">
            </a>
        </div>
        <div class="d-md-block d-none smaller-margin-after-breadcrumbs">
            <h2 style="font-size: 30px;"
                class="text-primary text-center mt-5 text-uppercase">{{ post.category.title }}</h2>
            {% include 'components/breadcrumb_navigation.html.twig' with breadcrumbs %}
        </div>
        <div class="d-flex justify-content-center m-4 d-md-none">
            <a class="mr-2" target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                   app.request.attributes.get('_route_params')) }}&amp;src=sdkpreparse">
                <img src="/images/svg/Facebook_citydog.svg" alt="facebook">
            </a>
            <a class="mr-2" target="_blank" rel="canonical"
               href="https://twitter.com/intent/tweet?text=Právě jsem četl tento zajímavý článek:&url=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                   app.request.attributes.get('_route_params')) }}">
                <img src="/images/svg/Twitter_citydog.svg" alt="twitter">
            </a>
            <a class="mr-2"
               href="mailto:?subject=Nový článek na Citydog.cz&body=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                   app.request.attributes.get('_route_params')) }}">
                <img src="/images/svg/Mail_citydog.svg" alt="mail">
            </a>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h2 class="text-underlined text-uppercase">{{ post.postTitle|raw }}</h2>
                <p class="text-muted fs-12"><span>{{ post.postDate|date('d.m.Y') }}</span> /
                    <span>AUTOR: {{ post.authorText }}</span></p>
                <p class="font-weight-bold">{{ post.summary }}</p>
                <div id="carouselControls" class="carousel slide mb-3" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carousel-image"
                                 style="background-image: url('{{ vich_uploader_asset(post, 'imageFile') }}')"></div>
                        </div>
                        {% if post.gallery %}
                            {% for image in post.images|slice(0,2) %}
                                <div class="carousel-item">
                                    <div class="carousel-image"
                                         style="background-image: url('{{ vich_uploader_asset(image, 'imageFile') }}')"></div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="d-md-flex small-gallery-thumbnail-wrapper d-none">
                            {% if post.gallery %}
                                {% for image in post.images|slice(0,2) %}
                                    <a class="mr-2" href="{{ path('gallery', {'url': post.url}) }}">
                                        <div class="small-gallery-thumbnail"
                                             style="background-image: url('{{ vich_uploader_asset(image, 'imageFile') }}')"></div>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if post.gallery %}
                            <a href="{{ path('gallery', {'url': post.url}) }}"
                               style="position: absolute; bottom: 36px; right: 36px; z-index: 999;"
                               class="mx-1 btn main-btn gallery-btn text-uppercase rounded-0 d-md-block d-none">galerie
                                ({{ post.galleryImageCount }})<img
                                        class="ml-2" src="/images/svg/Next_photos.svg" alt="Next_photos"></a>
                        {% endif %}

                    </div>
                    {% if post.gallery %}
                        <a class="carousel-control-prev m-0" href="#carouselControls" role="button"
                           data-slide="prev">
                            <img style="transform: rotate(-90deg);" src="/images/svg/Up.svg" alt="carousel_arrow_left">
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next m-0" href="#carouselControls" role="button"
                           data-slide="next">
                            <img style="transform: rotate(90deg);" src="/images/svg/Up.svg" alt="carousel_arrow_right">
                            <span class="sr-only">Next</span>
                        </a>
                    {% endif %}
                </div>
                <div class="d-none d-md-flex align-items-center justify-content-between mb-4">
                    <div class="d-flex">
                        <a class="mr-2" target="_blank"
                           href="https://www.facebook.com/sharer/sharer.php?u=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                               app.request.attributes.get('_route_params')) }}&amp;src=sdkpreparse">
                            <img src="/images/svg/Facebook_citydog.svg" alt="facebook">
                        </a>
                        <a class="mr-2" target="_blank" rel="canonical"
                           href="https://twitter.com/intent/tweet?text=Právě jsem četl tento zajímavý článek:&url=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                               app.request.attributes.get('_route_params')) }}">
                            <img src="/images/svg/Twitter_citydog.svg" alt="twitter">
                        </a>
                        <a class="mr-2"
                           href="mailto:?subject=Nový článek na Citydog.cz&body=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                               app.request.attributes.get('_route_params')) }}">
                            <img src="/images/svg/Mail_citydog.svg" alt="mail">
                        </a>
                        {% if not post.blockComments %}
                            <a href="#comments" class="ml-3 text-dark">
                                <img src="/images/svg/comment-text.svg" alt="comment"><span
                                        class="ml-2">{{ post.commentsCount }}</span>
                            </a>
                        {% endif %}
                    </div>
                    {% if post.gallery %}
                        <div class="font-pt-serif" style="font-size: 10px;">ZDROJ: {{ post.gallerySource }}</div>
                    {% endif %}
                </div>
                <div class="d-flex d-md-none align-items-center my-2">
                    {% if post.gallery %}
                        {% for image in post.images|slice(0,2) %}
                            <a class="mr-2 d-none d-sm-block" href="{{ path('gallery', {'url': post.url}) }}">
                                <div class="small-gallery-thumbnail"
                                     style="background-image: url('{{ vich_uploader_asset(image, 'imageFile') }}')"></div>
                            </a>
                        {% endfor %}
                        <a href="{{ path('gallery', {'url': post.url}) }}"
                           class="mx-1 btn main-btn text-uppercase rounded-0">galerie ({{ post.galleryImageCount }})<img
                                    class="ml-2" src="/images/svg/Next_photos.svg" alt="Next_photos"></a>
                    {% endif %}
                </div>

                <div class="article-content">
                    {{ post.text|raw }}
                </div>

                {% include 'components/ads/ad_after_article_content.html.twig' with {'showSeznam': showSeznam} %}

                <div class="d-flex justify-content-center justify-content-sm-start mt-4">
                    <a class="mr-2" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) }}&amp;src=sdkpreparse">
                        <img src="/images/svg/Facebook_citydog.svg" alt="facebook">
                    </a>
                    <a class="mr-2" target="_blank" rel="canonical"
                       href="https://twitter.com/intent/tweet?text=Právě jsem četl tento zajímavý článek:&url=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) }}">
                        <img src="/images/svg/Twitter_citydog.svg" alt="twitter">
                    </a>
                    <a class="mr-2"
                       href="mailto:?subject=Nový článek na Citydog.cz&body=https://city-dog.cz{{ path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params')) }}">
                        <img src="/images/svg/Mail_citydog.svg" alt="mail">
                    </a>
                </div>
            </div>
            <div class="d-none d-lg-block col-lg-4">
                {% include 'components/ads/ad_side_300x300.html.twig' with {'showSeznam': showSeznam} %}
                {% if showSeznam %}
                    {% include 'components/ads/ad_side_300x600.html.twig' with {'zoneId': 124167, 'showSeznam': showSeznam} %}
                {% else %}
                    <!-- iBILLBOARD Ad Server one2many Pozice: go.eu.bbelements.com city-dog.cz(26895) / HP + ostatní(1) / Square spodní(1) / 16 Square spodní 300x600(16)-->

                    <!-- HowTo: Place this code into the html page where the ad should appear. -->

                    <div id='bmone2n-26895.1.1.16'>

                        <noscript>
                            <div style='display:inline'><a
                                        href='https://go.eu.bbelements.com/please/redirect/26895/1/1/16/'><img
                                            src='https://go.eu.bbelements.com/please/showit/26895/1/1/16/?typkodu=img'
                                            style='border-width:0' alt=''/></a></div>
                        </noscript>

                    </div>
                {% endif %}
            </div>
        </div>

        {% if not post.blockComments %}
            <div>
                <div class="text-uppercase font-weight-extra-bold text-primary d-flex align-items-center border-top pt-3 my-5 border-width-2"
                     id="comments">
                    <img class="mr-2" src="/images/svg/comment-text.svg" alt="comment">komentáře
                </div>

                {% for comment in post.comments[:5] %}
                    {% include 'components/comment.html.twig' with {'comment': comment } %}
                    <hr>
                {% endfor %}
                <div class="collapse" style="transition: 0s" id="collapseComments">
                    {% for comment in post.comments[5:] %}
                        {% include 'components/comment.html.twig' with {'comment': comment } %}
                        <hr>
                    {% endfor %}
                </div>
                {% if post.comments|length > 5 %}
                <button class="btn show-more-btn" type="button" data-toggle="collapse" data-target="#collapseComments"
                        aria-expanded="false" aria-controls="collapseComments">
                    <span class="comments-collapse d-none">zobrazit méně</span>
                    <span class="comments-expand d-inline">zobrazit více</span>
                </button>
                {% endif %}
            </div>
            <div>
                <form method="post" id="commentForm" style="padding-top: 115px" action="{{ path('send_comment') }}"
                      class="comment-form">
                    <div class="form-group comments-share">
                        {% if visitor is not null %}
                            <div class="my-label text-uppercase my-3">Jste přihlášen jako</div>
                            {# visitor #}
                            {% if visitor.isFromFacebook() %}
                                <a class="social-login_btn facebook btn-facebook">
                                    <img width="14px" height="14px" src="/images/svg/FB_comments.svg" class="social-icon social-icon__facebook" alt="fb">
                                    <span class="social-login_btn-name">{{ visitor.fullName }}</span></a>
                            {% else %}
                                Z twiteru jsem
                            {% endif %}
                        {% else %}
                            <div class="my-label text-uppercase my-3">přihlásit se pomocí</div>
                            <a class="social-login_btn facebook btn-facebook" href="{{ path('connect_facebook_start', {'redirect_uri': post.url}) }}">
                                <img width="14px" height="14px" src="/images/svg/FB_comments.svg" class="social-icon social-icon__facebook" alt="fb">
                                <span class="social-login_btn-name">Facebook</span></a>
                            <a class="social-login_btn twitter btn-twitter" href="" id="">
                                <img width="14px" height="14px" src="/images/svg/Twitter_comments.svg"
                                     class="social-icon social-icon__twitter" alt="tt">
                                <span class="social-login_btn-name">Twitter</span></a>
                        {% endif %}
                    </div>

                    {% if visitor is null %}
                        <div class="form-group comments-email-reg">
                            <div class="my-label text-uppercase">nebo komentujte bez registrace</div>
                            <div class="d-flex">
                                <input name="name" class="form-control" type="text" placeholder="Vaše jméno" required>
                                <input name="email" class="form-control" type="email" placeholder="Email" required>
                            </div>
                        </div>
                    {% else %}
                        <input name="visitorId" value="{{ visitor.id }}" class="form-control" type="hidden">
                    {% endif %}
                    <div class="form-group">
                        <input type="hidden" name="postId" value="{{ post.idPost }}">
                        <input type="hidden" id="parentCommentId" name="parentCommentId" value="">
                        <label class="text-uppercase normal-label" for="textComment">váš komentář</label>
                        <label class="text-uppercase response-label d-none" for="textComment">odpovídáte na komentář
                            uživatele: <span class="replying-to"></span></label>
                        <textarea class="form-control" id="textComment" name="textComment" rows="3" required></textarea>
                        <input name="nick" class="" hidden="" type="text" placeholder="Nick" style="height: 1px; width: 1px" >

                        <a href="#commentForm" id="stop-reply" class="d-none mt-2">Přestat odpovídat</a>
                    </div>
                    <div class="form-group upload-comment">
                        {% if visitor is null %}
                        <div class="g-recaptcha" data-callback="recaptcha_callback"
                             data-sitekey="6Le-K_8UAAAAALadXl9gyDQoKHifyPjCONctez4z"></div>
                        {% endif %}
                        <br/>

                        <button id="comment-submit" type="submit" class="btn comment-submit text-uppercase {% if visitor is null %}disabled{% endif %}"
                                {% if visitor is null %}disabled{% endif %}>odeslat komentář
                        </button>

                    </div>
                </form>
            </div>
        {% endif %}
        <div>
            <div class="text-uppercase font-weight-extra-bold text-primary d-flex align-items-center border-top pt-3 my-5 border-width-2">
                <img class="mr-2" src="/images/svg/star-half.svg" alt="favourit">nejčtenější
            </div>
        </div>
        <div class="row">
            {% for toppost in top %}
                {% if loop.index == 2 %}
                    {% include 'components/ads/ad_article_center_of_top_articles.html.twig' with {'showSeznam': showSeznam} %}
                {% else %}
                    <div class="col-md-4">
                        {% include 'components/article_thumbnail.html.twig' with {'post':toppost} %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% include 'components/ads/before_footer_ad.html.twig' with {'showSeznam': showSeznam} %}

        <div class="position-fixed support-popup-wrapper align-items-center" id="articleSupportPopup">
            <div class="container support-popup position-relative">
                <div class="row">
                    <div class="col-md-6 col-lg-5 offset-lg-1">
                        <img src="/images/svg/heart.svg" class="d-block my-3" alt="heart">
                        <h3 class="text-white">Líbil se vám tento článek?<br>
                            <span class="text-underlined">Podpořte nás!</span></h3>
                        <p class="fs-18 text-white">Jsme nezávislé médium bez velkých investorů či zahraničních
                            vlastníků. Proto
                            budeme
                            rádi, pokud nám projevíte svou přízeň prostřednictvím malého příspěvku. Děkujeme!</p>
                    </div>
                    <div class="col-md-6 col-lg-5 d-flex flex-column justify-content-center align-items-center">
                        <div class="fs-20 pb-2">Podpořte nás a pošlete nám:</div>
                        <div class="d-flex">
                            <div class="mx-3 d-flex flex-column">
                                <img src="/images/svg/20crowns.svg" alt="20crowns">
                                <a href="{{ path('support', {'castka': 20}) }}"
                                   class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">20
                                    Kč</a>
                            </div>
                            <div class="mx-3 d-flex flex-column">
                                <img src="/images/svg/50crowns.svg" alt="50crowns">
                                <a href="{{ path('support', {'castka': 50}) }}"
                                   class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">50
                                    Kč</a>
                            </div>
                            <div class="mx-3 d-flex flex-column">
                                <img src="/images/svg/100crowns.svg" alt="100crowns">
                                <a href="{{ path('support', {'castka': 100}) }}"
                                   class="btn btn-outline-secondary rounded-0 border-width-2 p-0 my-2 fs-20 text-center">100
                                    Kč</a>
                            </div>
                        </div>
                    </div>
                    <a class="close-popup fs-12" href="" id="closeArticlePopup">Zavřít nemám zájem <img class="ml-2"
                                                                                                        src="/images/svg/popup_close_icon.svg"
                                                                                                        alt="close"></a>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/ads/ad_480x480.html.twig' with {'showSeznam': showSeznam, 'zoneId': 124192} %}
    <style>
        blockquote {
            font-style: italic;
            padding-left: 20px;
            padding-right: 8px;
            border-left-width: 5px;
            border-top-width: 0;
            border-right-width: 0;
            border-bottom-width: 0;
            border-style: solid;
            border-color: #ccc;
            margin: revert;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        function recaptcha_callback() {
            let subBut = document.querySelector('#comment-submit');
            subBut.removeAttribute("disabled");
            subBut.classList.remove("disabled");
        }
    </script>

    <script>
        const replyToSpan = document.querySelector(".replying-to");
        const responseLabel = document.querySelector(".response-label");
        const normalLabel = document.querySelector(".normal-label");
        const parentCommentInput = document.querySelector("#parentCommentId");
        const stopReplying = document.querySelector("#stop-reply");

        stopReplying.addEventListener('click', () => {
            stopReplyingTo();
            stopReplying.classList.toggle("d-none");
            responseLabel.classList.toggle("d-none");
            normalLabel.classList.toggle("d-none");
        });

        document.querySelectorAll(".answer-comment-a").forEach(item => {
            item.addEventListener('click', () => {
                responseLabel.classList.toggle("d-none");
                normalLabel.classList.toggle("d-none");
                stopReplying.classList.toggle("d-none");
                replyTo(item)
            })
        });

        function replyTo(item) {
            replyToSpan.innerHTML = item.dataset.replyToName;
            parentCommentInput.setAttribute("value", item.dataset.replyToId);
        }

        function stopReplyingTo() {
            replyToSpan.innerHTML = "";
            parentCommentInput.setAttribute("value", "");
        }

    </script>
{% endblock %}

